# Dependency directories
node_modules/
.yarn/
.pnp/

# Logs & Debugging
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
dump.rdb
*.log

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production
.env.*
!.env.example

# PM2
ecosystem.config.js

# BRC configs
p3-web.conf

# Editors, IDEs, Terminals
.vscode/
.idea/
.zed/
.fleet/
*.swp
.project
.warp
CLAUDE.md

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
*.sublime-workspace
desktop.ini
$RECYCLE.BIN/
System Volume Information/
ntuser.dat
NTUSER.DAT*
NTUSER.INI

# WSL
.wslconfig
.wslg/

# Linux
*~
.nfs*
.lost+found/

# Shell configs, history, etc
.bash_history
.bash_logout
.bash_profile
.bashrc
.profile
.inputrc

.zsh_history
.zshrc
.zprofile
.zlogin
.zlogout

.fish_history
.fishrc
.config/fish/fish_history
.config/fish/fish_variables

.cshrc
.tcshrc
.kshrc
.mkshrc
.sh_history

# Other terminal related files
.screenrc
.tmux.conf
.terminfo
.dir_colors
.Xauthority
.Xresources
.Xdefaults

# Build output
dist/
build/
public/js/release/
public/video/
public/js/release/build-report.txt

# Testing & Coverage
coverage/
jest.config.js
intern.js

# Linting & Formatting Configs
# .eslintrc.json
# .eslintignore
#.prettierrc
#.prettierignore
.stylelintrc.json
.htmlhintrc
.jshintrc
.editorconfig

# Temporary files & caches
.pnp.*
.pnpm-store/
.cache/
.parcel-cache/
.next/
out/
*.pid
*.seed
*.gz
.nyc_output/
node_repl_history

# Miscellaneous
gulpfile.js
gulpified
test/
src/
/public/js/p3/widget/UserDetails.js

# TEMP - TO BE REMOVED
package-lock.json
