module.exports = {
    apps: [
      {
        name: "app1",
        script: "/app-web",
        cwd: "/absolute/path/to/app1/bin",
        env: {
          NODE_ENV: "development",
          PORT: 3000
        }
      },
      {
        name: "app2",
        script: "./app-web",
        cwd: "/absolute/path/to/app2/bin",
        env: {
          NODE_ENV: "development",
          PORT: 3001
        }
      },
      {
        name: "app3",
        script: "./app-web",
        cwd: "/absolute/path/to/ap3/bin",
        env: {
          NODE_ENV: "production",
          PORT: 3002
        }
      }
    ]
  };