module.exports = {
    apps: [
      {
        name: "app1",
        script: "app.js",
        cwd: "/absolute/path/to/app1",
        env: {
          NODE_ENV: "development",
          PORT: 3000
        }
      },
      {
        name: "app2",
        script: "./app.js",
        cwd: "/absolute/path/to/app2",
        eenv: {
          NODE_ENV: "development",
          PORT: 3001
        }
      },
      {
        name: "app3",
        script: "./app.js",
        cwd: "/absolute/path/to/ap3",
        env: {
          NODE_ENV: "production",
          PORT: 3002
        }
      }
    ]
  };