<style>
  #maage-footer--wrapper {
  display: block;
  z-index: 1025;
  width: 100%;
  position: unset;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  color: #eeeeee;

        }
  </style>

<div id="maage-footer--wrapper">
  <!-- <section class="bg-[#548fa6] py-6 overflow-hidden h-[75px]">
    <div class="container mx-auto px-4 md:px-6 relative z-10">
      <div class="max-w-4xl mx-auto">
        <div class="flex flex-row items-center justify-between">
          <div>
            <h2 class="text-xl font-bold text-white font-poppins">Join Our Newsletter</h2>
          </div>

          <div>
            <form class="flex flex-row gap-2 items-center">
              <div class="relative">
                <input
                  type="email"
                  placeholder="Your email address"
                  class="w-64 h-10 bg-white/20 border-white/40 text-white placeholder:text-white/70 focus:border-primary-300 focus:ring-primary-300 rounded-md px-3"
                />
              </div>
              <button class="h-10 bg-[#a6c9b8] hover:bg-primary-600 text-secondary-900 font-medium px-4 rounded-md">
                Subscribe
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <style>
    /* ".inherited-styles-for-exported-element" is a generated class for the inherited styles of the exported element, feel free to rename it. */

    :root {
      --radius: 0.5rem;
      --background: 150 33% 96%;
      --foreground: 222.2 84% 4.9%;
      --ring: 222.2 84% 4.9%;
    }

    *, ::after, ::before {
      --tw-ring-inset: ;
      --tw-ring-offset-width: 0px;
      --tw-ring-color: rgba(59, 130, 246, 0.5);
      --tw-ring-offset-shadow: 0 0 #0000;
      --tw-ring-shadow: 0 0 #0000;
      --tw-ring-offset-color: #fff;
      --tw-shadow: 0 0 #0000;
    }

    ::backdrop {
      --tw-ring-inset: ;
      --tw-ring-offset-width: 0px;
      --tw-ring-offset-color: #fff;
      --tw-ring-color: rgba(59, 130, 246, 0.5);
      --tw-ring-offset-shadow: 0 0 #0000;
      --tw-ring-shadow: 0 0 #0000;
      --tw-shadow: 0 0 #0000;
    }

    *, ::after, ::before {
      border-style: solid;
      border-width: 0;
      box-sizing: border-box;
    }

    ::after, ::before {
      border-color: #e5e7eb;
    }

    .inherited-styles-for-exported-element {
      color: hsl(222.2 84% 4.9%);
      font-family: Inter, sans-serif;
      tab-size: 4;
    }

    h3 {
      font-family: Poppins, sans-serif;
      font-size: inherit;
      margin: 0;
    }

    button, input {
      font-family: inherit;
      font-feature-settings: inherit;
      font-variation-settings: inherit;
      letter-spacing: inherit;
      margin: 0;
    }

    input {
      color: inherit;
      font-weight: inherit;
    }

    button {
      appearance: button;
      background-image: none;
      cursor: pointer;
      text-transform: none;
    }

    input:where([type="button"]), input:where([type="reset"]), input:where([type="submit"]) {
      appearance: button;
      background-color: transparent;
      background-image: none;
    }

    p {
      margin: 0;
    }

    input::placeholder {
      color: #9ca3af;
      opacity: 1;
    }

    :disabled {
      cursor: default;
    }

    * {
      border-color: #e2e8f0;
    }

    .container {
      width: 100%;
    }

    @media (min-width: 1400px) {
      .container {
        max-width: 1400px;
      }
    }

    .mx-auto {
      margin-left: auto;
      margin-right: auto;
    }

    .mt-3 {
      margin-top: .75rem;
    }

    .flex {
      display: flex;
    }

    .inline-flex {
      display: inline-flex;
    }

    .h-10 {
      height: 2.5rem;
    }

    .w-full {
      width: 100%;
    }

    .flex-col {
      flex-direction: column;
    }

    .items-center {
      align-items: center;
    }

    .justify-center {
      justify-content: center;
    }

    .justify-between {
      justify-content: space-between;
    }

    .gap-2 {
      column-gap: .5rem;
      row-gap: .5rem;
    }

    .whitespace-nowrap {
      text-wrap-mode: nowrap;
      white-space-collapse: collapse;
    }

    .rounded-md {
      border-bottom-right-radius: calc(var(--radius) - 2px);
      border-top-right-radius: calc(var(--radius) - 2px);
    }

    .rounded-l-md {
      border-bottom-left-radius: calc(var(--radius) - 2px);
      border-top-left-radius: calc(var(--radius) - 2px);
    }

    .rounded-l-none {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }

    .rounded-r-md {
      border-bottom-right-radius: calc(var(--radius) - 2px);
      border-top-right-radius: calc(var(--radius) - 2px);
    }

    .border-0 {
      border-width: 0;
    }

    .border-input {
      border-color: #e2e8f0;
    }

    .bg-background {
      background-color: hsl(var(--background));
    }

    .bg-primary-400 {
      background-color: rgb(137 184 163/var(--tw-bg-opacity, 1));
      --tw-bg-opacity: 1;
    }

    .bg-secondary-600 {
      background-color: rgb(68 113 136/var(--tw-bg-opacity, 1));
      --tw-bg-opacity: 1;
    }

    .px-3 {
      padding-left: .75rem;
      padding-right: .75rem;
    }

    .px-4 {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .py-2 {
      padding-bottom: .5rem;
      padding-top: .5rem;
    }

    .py-4 {
      padding-bottom: 1rem;
      padding-top: 1rem;
    }

    .text-base {
      font-size: 1rem;
      line-height: 1.5rem;
    }

    .text-sm {
      font-size: .875rem;
      line-height: 1.25rem;
    }

    .font-medium {
      font-weight: 500;
    }

    .font-semibold {
      font-weight: 600;
    }

    .text-white {
      color: rgb(255 255 255/var(--tw-text-opacity, 1));
      --tw-text-opacity: 1;
    }

    .opacity-80 {
      opacity: .8;
    }

    .ring-offset-background {
      --tw-ring-offset-color: hsl(var(--background));
    }

    .transition-colors {
      transition-duration: .15s;
      transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
      transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    }

    .file\:border-0::file-selector-button {
      border-width: 0;
    }

    .file\:bg-transparent::file-selector-button {
      background-color: transparent;
    }

    .file\:text-sm::file-selector-button {
      font-size: .875rem;
      line-height: 1.25rem;
    }

    .file\:font-medium::file-selector-button {
      font-weight: 500;
    }

    .file\:text-foreground::file-selector-button {
      color: hsl(var(--foreground));
    }

    .hover\:bg-secondary-700:hover {
      background-color: rgb(64 100 119/var(--tw-bg-opacity, 1));
      --tw-bg-opacity: 1;
    }

    .focus-visible\:outline-none:focus-visible {
      outline: 2px solid transparent;
      outline-offset: 2px;
    }

    .focus-visible\:ring-2:focus-visible {
      --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
      --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
      box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
    }

    .focus-visible\:ring-ring:focus-visible {
      --tw-ring-color: hsl(var(--ring));
    }

    .focus-visible\:ring-offset-2:focus-visible {
      --tw-ring-offset-width: 2px;
    }

    .disabled\:pointer-events-none:disabled {
      pointer-events: none;
    }

    .disabled\:cursor-not-allowed:disabled {
      cursor: not-allowed;
    }

    .disabled\:opacity-50:disabled {
      opacity: .5;
    }

    @media (min-width: 768px) {
      .md\:mt-0 {
        margin-top: 0;
      }

      .md\:w-64 {
        width: 16rem;
      }

      .md\:w-auto {
        width: auto;
      }

      .md\:flex-row {
        flex-direction: row;
      }

      .md\:px-6 {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
      }

      .md\:text-sm {
        font-size: .875rem;
        line-height: 1.25rem;
      }
    }
  </style>

  <footer
    class="inherited-styles-for-exported-element footer-bg-var-maage-secondary-600-text-white-py-12 min-h-[275px]">

    <div class="div-container-mx-auto-px-4">
      <div class="div-grid-grid-cols-1-md-grid-cols-5-gap-8 my-[20px]">
        <div class="div-col-span-2-md-col-span-2">
          <div class="div-flex-items-center-mb-4">
            <a href="/" class="a-inline-flex-items-center-gap-2 transition duration-300" aria-label="MAAGE">
              <img class="img-h-14" src="/patric/images/maage/maage-logo.png" alt="MAAGE Logo">
              <div class="css_pro-div-variation-1">
                <span class="span-style-1">MA</span>
                <span class="span-style-2">AGE</span>
              </div>
            </a>
          </div>
          <div class="h-[4px] w-[50px] bg-[var(--maage-primary-300)] mt-[-4px] mb-[25px]"></div>
          <div class="mt-[12px]">
            <h4 class="font-poppins text-sm font-semibold text-[var(--maage-gray-200)]">Connect with MAAGE</h4>
            <div class="flex space-x-4 mt-[5px]">
              <a href="https://github.com/MAAGE-BRC" class="transition duration-300" aria-label="Github">
                <span
                  class="fab fa-github text-3xl text-[var(--maage-gray-200)] hover:text-white transition duration-300 hover:scale-110"></span>
              </a>

              <a href="https://www.twitter.com/maage_brc" class="transition duration-300" aria-label="Twitter">
                <span
                  class="fab fa-twitter text-3xl text-[var(--maage-gray-200)] hover:text-white transition duration-300 hover:scale-110"></span>
              </a>

              <a href="https://www.linkedin.com/company/maage-brc" class="transition duration-300"
                aria-label="LinkedIn">
                <span
                  class="fab fa-linkedin text-3xl text-[var(--maage-gray-200)] hover:text-white transition duration-300 hover:scale-110"></span>
              </a>

              <a href="mailto:help@maage-brc.org" class="transition duration-300" aria-label="Email">
                <span
                  class="fas fa-envelope text-3xl text-[var(--maage-gray-200)] hover:text-white transition duration-300 hover:scale-110"></span>
              </a>
            </div>
          </div>
        </div>

        <div class="col-span-1">
          <h3 class="text-[var(--maage-secondary-200)] text-xl font-poppins font-medium">MAAGE</h3>
          <div class="h-[4px] w-[55px] bg-[var(--maage-primary-300)] mt-[6px] mb-[6px]"></div>
          <ul>
            <li class="pt-1"><a
                class="hover:text-white visited:text-[var(--maage-gray-200)] text-[15px] font-poppins font-normal text-[var(--maage-gray-200)] transition duration-300"
                href="/about">About Us</a></li>
            <li class="pt-1"><a
                class="hover:text-white visited:text-[var(--maage-gray-200)] text-[15px] font-poppins font-normal text-[var(--maage-gray-200)] transition duration-300"
                href="/team">Our Team</a></li>
            <li class="pt-1"><a
                class="hover:text-white visited:text-[var(--maage-gray-200)] text-[15px] font-poppins font-normal text-[var(--maage-gray-200)] transition duration-300"
                href="/advisory-boards">Advisory Boards</a></li>
            <li class="pt-1"><a
                class="hover:text-white visited:text-[var(--maage-gray-200)] text-[15px] font-poppins font-normal text-[var(--maage-gray-200)] transition duration-300"
                href="/contact">Contact Us</a></li>
          </ul>
        </div>

        <div class="col-span-1">
          <h3 class="text-[var(--maage-secondary-200)] text-xl font-poppins font-medium">Resources</h3>
          <div class="h-[4px] w-[95px] bg-[var(--maage-primary-300)] mt-[6px] mb-[6px]"></div>
          <ul>
            <li class="pt-1"><a
                class="hover:text-white visited:text-[var(--maage-gray-200)] text-[15px] font-poppins font-normal text-[var(--maage-gray-200)] transition duration-300"
                href="/docs/">Documentation</a></li>
            <li class="pt-1"><a
                class="hover:text-white visited:text-[var(--maage-gray-200)] text-[15px] font-poppins font-normal text-[var(--maage-gray-200)] transition duration-300"
                href="/reports">Analysis Reports</a></li>
            <li class="pt-1"><a
                class="hover:text-white visited:text-[var(--maage-gray-200)] text-[15px] font-poppins font-normal text-[var(--maage-gray-200)] transition duration-300"
                href="/publications">Publications</a></li>
            <li class="pt-1"><a
                class="hover:text-white visited:text-[var(--maage-gray-200)] text-[15px] font-poppins font-normal text-[var(--maage-gray-200)] transition duration-300"
                href="/citations">Citations</a></li>
          </ul>
        </div>

        <div class="col-span-1">
          <h3 class="text-[var(--maage-secondary-200)] text-xl font-poppins font-medium">Policies</h3>
          <div class="h-[4px] w-[70px] bg-[var(--maage-primary-300)] mt-[6px] mb-[6px]"></div>
          <ul>
            <li class="pt-1"><a
                class="hover:text-white visited:text-[var(--maage-gray-200)] text-[15px] font-poppins font-normal text-[var(--maage-gray-200)] transition duration-300"
                href="/privacy-policy">Privacy Policy</a></li>
            <li class="pt-1"><a
                class="hover:text-white visited:text-[var(--maage-gray-200)] text-[15px] font-poppins font-normal text-[var(--maage-gray-200)] transition duration-300"
                href="/tos">Terms of Use</a></li>
            <li class="pt-1"><a
                class="hover:text-white visited:text-[var(--maage-gray-200)] text-[15px] font-poppins font-normal text-[var(--maage-gray-200)] transition duration-300"
                href="/data-policy">Data Usage Policy</a></li>
            <li class="pt-1"><a
                class="hover:text-white visited:text-[var(--maage-gray-200)] text-[15px] font-poppins font-normal text-[var(--maage-gray-200)] transition duration-300"
                href="/accessibility">Accessibility</a></li>
          </ul>
        </div>
      </div>



    </div>
    <!-- <div
    class="footer-cap h-[50px] bg-[var(--maage-secondary-800)] mt-[35px] font-poppins text-sm flex items-center justify-end pr-4 align-right">
    <div class="flex"><a href="/sitemap.xml" class="ml-auto mr-[20px] font-poppins text-sm font-light hover:text-[var(--maage-primary-200)] transition duration-300">sitemap</a></div> -->
    </div>

  </footer>

  <section class="">
    <div class="footer-cap">
      <div class="flex justify-between w-full">
        <span>MAAGE version 0.2.5</span>
        <a href="/sitemap.xml"
          class="font-poppins text-sm font-light hover:text-[var(--maage-primary-200)] transition duration-300">MAAGE sitemap</a>
      </div>
    </div>
  </section>



</div>
    <style>
      .footer-bg-var-maage-secondary-600-text-white-py-12 {
        background-color: #3c677e;
        padding-top: 3rem;
      }

      .a-inline-flex-items-center-gap-2:after, .a-inline-flex-items-center-gap-2:before, .div-col-span-2-md-col-span-2:after, .div-col-span-2-md-col-span-2:before, .div-container-mx-auto-px-4:after, .div-container-mx-auto-px-4:before, .div-flex-items-center-mb-4:after, .div-flex-items-center-mb-4:before, .div-grid-grid-cols-1-md-grid-cols-5-gap-8:after, .div-grid-grid-cols-1-md-grid-cols-5-gap-8:before, .footer-bg-var-maage-secondary-600-text-white-py-12, .footer-bg-var-maage-secondary-600-text-white-py-12:after, .footer-bg-var-maage-secondary-600-text-white-py-12:before, .img-h-14:after, .img-h-14:before {
        border: 0 solid #e5e7eb;
        box-sizing: border-box;
      }

      .a-inline-flex-items-center-gap-2:disabled, .a-style-1-unique-1:disabled, .css_pro-div-variation-1:disabled, .div-col-span-2-md-col-span-2:disabled, .div-container-mx-auto-px-4:disabled, .div-flex-items-center-mb-4:disabled, .div-flex-space-x-4:disabled, .div-grid-grid-cols-1-md-grid-cols-5-gap-8:disabled, .div-mt-6:disabled, .footer-bg-var-maage-secondary-600-text-white-py-12:disabled, .h4-text-md-font-medium-mb-3-text-gray-400:disabled, .img-h-14:disabled, .span-style-1:disabled, .span-style-2:disabled {
        cursor: default;
      }

      .div-container-mx-auto-px-4 {
        border: 0 solid #e5e7eb;
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
        padding-left: 1rem;
        padding-right: 1rem;
        width: 100%;
      }

      @media (min-width: 640px) {
        .div-container-mx-auto-px-4 {
          max-width: 640px;
        }
      }

      @media (min-width: 768px) {
        .div-container-mx-auto-px-4 {
          max-width: 768px;
        }
      }

      @media (min-width: 1024px) {
        .div-container-mx-auto-px-4 {
          max-width: 1024px;
        }
      }

      @media (min-width: 1280px) {
        .div-container-mx-auto-px-4 {
          max-width: 1280px;
        }
      }

      @media (min-width: 1536px) {
        .div-container-mx-auto-px-4 {
          max-width: 1536px;
        }
      }

      .div-grid-grid-cols-1-md-grid-cols-5-gap-8 {
        border: 0 solid #e5e7eb;
        box-sizing: border-box;
        column-gap: 2rem;
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        row-gap: 2rem;
      }

      @media (min-width: 768px) {
        .div-grid-grid-cols-1-md-grid-cols-5-gap-8 {
          grid-template-columns: repeat(5, minmax(0, 1fr));
        }
      }

      .div-col-span-2-md-col-span-2 {
        border: 0 solid #e5e7eb;
        box-sizing: border-box;
        grid-column-end: span 2;
        grid-column-start: span 2;
      }

      @media (min-width: 768px) {
        .div-col-span-2-md-col-span-2 {
          grid-column-end: span 2;
          grid-column-start: span 2;
        }
      }

      .a-inline-flex-items-center-gap-2, .div-flex-items-center-mb-4 {
        align-items: center;
        border: 0 solid #e5e7eb;
        box-sizing: border-box;
      }

      .div-flex-items-center-mb-4 {
        display: flex;
        margin-bottom: 1rem;
      }

      .a-inline-flex-items-center-gap-2 {
        color: inherit;
        column-gap: .5rem;
        display: inline-flex;
        row-gap: .5rem;
        text-decoration: inherit;
      }

      .img-h-14 {
        display: block;
        height: 3.5rem;
        max-width: 100%;
      }

      .a-style-1-unique-1:after, .a-style-1-unique-1:before, .css_pro-div-variation-1, .css_pro-div-variation-1:after, .css_pro-div-variation-1:before, .div-flex-space-x-4:after, .div-flex-space-x-4:before, .div-mt-6:after, .div-mt-6:before, .h4-text-md-font-medium-mb-3-text-gray-400:after, .h4-text-md-font-medium-mb-3-text-gray-400:before, .img-h-14, .span-style-1, .span-style-1:after, .span-style-1:before, .span-style-2:after, .span-style-2:before {
        border: 0 solid #e5e7eb;
        box-sizing: border-box;
      }

      .span-style-1 {
        color: #71a3b7;
        font-size: 1.875rem;
        font-weight: 600;
        line-height: 2.25rem;
      }

      @media (min-width: 768px) {
        .span-style-1 {
          font-size: 2.25rem;
          line-height: 2.5rem;
        }
      }

      @media (min-width: 1024px) {
        .span-style-1 {
          font-size: 3rem;
          line-height: 1;
        }
      }

      .span-style-2 {
        border: 0 solid #e5e7eb;
        box-sizing: border-box;
        color: #c2d9e0;
        font-size: 1.875rem;
        font-weight: 300;
        line-height: 2.25rem;
        margin-left: -3px;
      }

      @media (min-width: 768px) {
        .span-style-2 {
          font-size: 2.25rem;
          line-height: 2.5rem;
        }
      }

      @media (min-width: 1024px) {
        .span-style-2 {
          font-size: 3rem;
          line-height: 1;
        }
      }

      .div-mt-6 {
        border: 0 solid #e5e7eb;
        box-sizing: border-box;
        margin-top: 1.5rem;
      }

      .h4-text-md-font-medium-mb-3-text-gray-400 {
        color: rgb(156 163 175/1);
        font-size: inherit;
        font-weight: 500;
        margin: 0 0 .75rem;
      }

      .a-style-1-unique-1, .div-flex-space-x-4, .h4-text-md-font-medium-mb-3-text-gray-400 {
        border: 0 solid #e5e7eb;
        box-sizing: border-box;
      }

      .div-flex-space-x-4 {
        display: flex;
      }

      .a-style-1-unique-1 {
        color: rgb(156 163 175/1);
        text-decoration: inherit;
        transition-duration: 150ms;
        transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
        transition-timing-function: cubic-bezier(.4, 0, .2, 1);
      }

      .a-style-1-unique-1:hover {
        color: rgb(255 255 255/1);
        transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1);
      }

      .i-fab-fa-github-text-xl {
        display: inline-block;
        font-variant: normal;
        font-variant-emoji: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font-family: "Font Awesome 6 Brands";
        font-size: 1.25rem;
        font-weight: 400;
        line-height: 1.75rem;
      }

      .i-fab-fa-github-text-xl:before {
        content: "";
      }

      .a-style-2-unique-2:after, .a-style-2-unique-2:before, .i-fab-fa-github-text-xl, .i-fab-fa-github-text-xl:after, .i-fab-fa-github-text-xl:before {
        border: 0 solid #e5e7eb;
        box-sizing: border-box;
      }

      .a-style-2-unique-2:disabled, .i-fab-fa-github-text-xl:disabled {
        cursor: default;
      }

      .a-style-2-unique-2 {
        border: 0 solid #e5e7eb;
        box-sizing: border-box;
        color: rgb(156 163 175/1);
        text-decoration: inherit;
        transition-duration: 150ms;
        transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
        transition-timing-function: cubic-bezier(.4, 0, .2, 1);
      }

      .a-style-2-unique-2:not([hidden]) {
        margin-left: calc(1rem*calc(1 - 0));
        margin-right: calc(1rem*0);
      }

      .a-style-2-unique-2:hover {
        color: rgb(255 255 255/1);
        transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1);
      }

      .i-fab-fa-twitter-text-xl {
        font-variant: normal;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-family: "Font Awesome 6 Brands";
        font-size: 1.25rem;
        font-variant-emoji: normal;
        font-weight: 400;
        line-height: 1.75rem;
        text-rendering: auto;
      }

      .i-fab-fa-twitter-text-xl:before {
        content: "";
      }

      .a-style-3-unique-3:after, .a-style-3-unique-3:before, .i-fab-fa-twitter-text-xl, .i-fab-fa-twitter-text-xl:after, .i-fab-fa-twitter-text-xl:before {
        border: 0 solid #e5e7eb;
        box-sizing: border-box;
      }

      .a-style-3-unique-3:disabled, .i-fab-fa-twitter-text-xl:disabled {
        cursor: default;
      }

      .a-style-3-unique-3 {
        border: 0 solid #e5e7eb;
        box-sizing: border-box;
        color: rgb(156 163 175/1);
        text-decoration: inherit;
        transition-duration: 150ms;
        transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
        transition-timing-function: cubic-bezier(.4, 0, .2, 1);
      }

      .a-style-3-unique-3:not([hidden]) {
        margin-left: calc(1rem*calc(1 - 0));
        margin-right: calc(1rem*0);
      }

      .a-style-3-unique-3:hover {
        color: rgb(255 255 255/1);
        transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1);
      }

      .i-fab-fa-linkedin-text-xl {
        display: inline-block;
        font-variant: normal;
        font-variant-emoji: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font-family: "Font Awesome 6 Brands";
        font-size: 1.25rem;
        font-weight: 400;
        line-height: 1.75rem;
      }

      .i-fab-fa-linkedin-text-xl:before {
        content: "";
      }

      .i-fab-fa-linkedin-text-xl, .i-fab-fa-linkedin-text-xl:after, .i-fab-fa-linkedin-text-xl:before {
        border: 0 solid #e5e7eb;
        box-sizing: border-box;
      }

      .a-style-4-unique-1:disabled, .css_pro-li-variation-2:disabled, .div-col-span-1-unique-1:disabled, .h3-style-1:disabled, .i-fab-fa-linkedin-text-xl:disabled, .i-fas-fa-envelope-text-xl:disabled, .ul-space-y-2-text-sm-unique-1:disabled {
        cursor: default;
      }

      .i-fas-fa-envelope-text-xl, .i-fas-fa-envelope-text-xl:before {
        border: 0 solid #e5e7eb;
        box-sizing: border-box;
      }

      .i-fas-fa-envelope-text-xl {
        display: inline-block;
        font-variant: normal;
        font-variant-emoji: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font-family: "Font Awesome 6 Free";
        font-size: 1.25rem;
        font-weight: 900;
        line-height: 1.75rem;
      }

      .i-fas-fa-envelope-text-xl:before {
        content: "";
      }

      .a-style-4-unique-1:after, .a-style-4-unique-1:before, .css_pro-li-variation-2:after, .css_pro-li-variation-2:before, .div-col-span-1-unique-1, .div-col-span-1-unique-1:after, .div-col-span-1-unique-1:before, .h3-style-1, .h3-style-1:after, .h3-style-1:before, .i-fas-fa-envelope-text-xl:after, .ul-space-y-2-text-sm-unique-1:after, .ul-space-y-2-text-sm-unique-1:before {
        border: 0 solid #e5e7eb;
        box-sizing: border-box;
      }

      .div-col-span-1-unique-1 {
        grid-column-end: span 1;
        grid-column-start: span 1;
      }

      .h3-style-1 {
        color: #a0c3cf;
        font-size: inherit;
        font-weight: 600;
        margin: 0 0 1rem;
      }

      .ul-space-y-2-text-sm-unique-1 {
        font-size: .875rem;
        line-height: 1.25rem;
        list-style: none;
        margin: 0;
        padding: 0;
      }

      .css_pro-li-variation-2, .ul-space-y-2-text-sm-unique-1 {
        border: 0 solid #e5e7eb;
        box-sizing: border-box;
      }

      .a-style-4-unique-1 {
        color: rgb(209 213 219/1);
        text-decoration: inherit;
        transition-duration: 300ms;
        transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
        transition-timing-function: cubic-bezier(.4, 0, .2, 1);
      }

      .a-style-4-unique-1:hover {
        color: rgb(255 255 255/1);
      }

      .a-style-4-unique-1, .a-style-5-unique-2:after, .a-style-5-unique-2:before, .css_pro-li-variation-3, .css_pro-li-variation-3:after, .css_pro-li-variation-3:before, .css_pro-li-variation-4:after, .css_pro-li-variation-4:before, .div-col-span-1-unique-2:after, .div-col-span-1-unique-2:before, .h3-style-2-unique-1:after, .h3-style-2-unique-1:before, .ul-space-y-2-text-sm-unique-2:after, .ul-space-y-2-text-sm-unique-2:before {
        border: 0 solid #e5e7eb;
        box-sizing: border-box;
      }

      .css_pro-li-variation-3:disabled {
        cursor: default;
      }

      .css_pro-li-variation-3:not([hidden]) {
        margin-bottom: calc(.5rem*0);
        margin-top: calc(.5rem*calc(1 - 0));
      }

      .a-style-5-unique-2 {
        border: 0 solid #e5e7eb;
        box-sizing: border-box;
        color: rgb(209 213 219/1);
        text-decoration: inherit;
        transition-duration: 300ms;
        transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
        transition-timing-function: cubic-bezier(.4, 0, .2, 1);
      }

      .a-style-5-unique-2:disabled {
        cursor: default;
      }

      .a-style-5-unique-2:hover {
        color: rgb(255 255 255/1);
      }

      .css_pro-li-variation-4 {
        border: 0 solid #e5e7eb;
        box-sizing: border-box;
      }

      .css_pro-li-variation-4:disabled {
        cursor: default;
      }

      .css_pro-li-variation-4:not([hidden]) {
        margin-bottom: calc(.5rem*0);
        margin-top: calc(.5rem*calc(1 - 0));
      }

      .div-col-span-1-unique-2 {
        border: 0 solid #e5e7eb;
        box-sizing: border-box;
        grid-column-end: span 1;
        grid-column-start: span 1;
      }

      .css_pro-li-variation-5:disabled, .div-col-span-1-unique-2:disabled, .h3-style-2-unique-1:disabled, .h3-style-3-unique-2:disabled, .ul-space-y-2-text-sm-unique-2:disabled {
        cursor: default;
      }

      .h3-style-2-unique-1 {
        border: 0 solid #e5e7eb;
        box-sizing: border-box;
        color: #a0c3cf;
        font-size: 1.125rem;
        font-weight: 600;
        line-height: 1.75rem;
        margin: 0 0 1rem;
      }

      .ul-space-y-2-text-sm-unique-2 {
        font-size: .875rem;
        line-height: 1.25rem;
        list-style: none;
        margin: 0;
        padding: 0;
      }

      .css_pro-li-variation-5, .css_pro-li-variation-5:after, .css_pro-li-variation-5:before, .h3-style-3-unique-2, .h3-style-3-unique-2:after, .h3-style-3-unique-2:before, .ul-space-y-2-text-sm-unique-2 {
        border: 0 solid #e5e7eb;
        box-sizing: border-box;
      }

      .h3-style-3-unique-2 {
        color: #a0c3cf;
        font-size: 1.125rem;
        font-weight: 600;
        line-height: 1.75rem;
        margin: 0 0 1rem;
      }

      .inherited-styles--maage-footer {
        font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        tab-size: 4;
      }

      .footer-cap {
        display: block;
        background-color: var(--maage-secondary-900);
        z-index: 1026;
        color: #fff;
        padding: 1rem;
        text-align: center;
      }
      div.div-col-span-1-unique-1:nth-child(2) > h3.h3-style-1 {
  font-size: 1.25rem;
}

div.div-col-span-1-unique-1:nth-child(2) > ul.ul-space-y-2-text-sm-unique-1 > li.css_pro-li-variation-2 {
  font-size: 1rem;
}

div.div-col-span-1-unique-1:nth-child(2) > ul.ul-space-y-2-text-sm-unique-1 > li.css_pro-li-variation-3:nth-child(2) {
  font-size: 1rem;
}

div.div-col-span-1-unique-1:nth-child(2) > ul.ul-space-y-2-text-sm-unique-1 > li.css_pro-li-variation-4:nth-child(3) {
  font-size: 1rem;
}

div.div-col-span-1-unique-1:nth-child(2) > ul.ul-space-y-2-text-sm-unique-1 > li.css_pro-li-variation-4:nth-child(5) {
  font-size: 1rem;
}

div.div-col-span-1-unique-1:nth-child(2) > ul.ul-space-y-2-text-sm-unique-1 > li.css_pro-li-variation-3:nth-child(4) {
  font-size: 1rem;
}

div.div-col-span-1-unique-2 > h3.h3-style-2-unique-1 {
  font-size: 1.25rem;
}

ul.ul-space-y-2-text-sm-unique-2 > li.css_pro-li-variation-5 {
  font-size: 1rem;
}

ul.ul-space-y-2-text-sm-unique-2 > li.css_pro-li-variation-4:nth-child(2) {
  font-size: 1rem;
}

ul.ul-space-y-2-text-sm-unique-2 > li.css_pro-li-variation-3:nth-child(3) {
  font-size: 1rem;
}

ul.ul-space-y-2-text-sm-unique-2 > li.css_pro-li-variation-4:nth-child(4) {
  font-size: 1rem;
}

ul.ul-space-y-2-text-sm-unique-2 > li.css_pro-li-variation-3:nth-child(5) {
  font-size: 1rem;
}

div.div-col-span-1-unique-1:nth-child(4) > h3.h3-style-3-unique-2 {
  font-size: 1.25rem;
}

div.div-col-span-1-unique-1:nth-child(4) > ul.ul-space-y-2-text-sm-unique-1 > li.css_pro-li-variation-2 {
  font-size: 1rem;
}

div.div-col-span-1-unique-1:nth-child(4) > ul.ul-space-y-2-text-sm-unique-1 > li.css_pro-li-variation-3:nth-child(2) {
  font-size: 1rem;
}

div.div-col-span-1-unique-1:nth-child(4) > ul.ul-space-y-2-text-sm-unique-1 > li.css_pro-li-variation-4:nth-child(3) {
  font-size: 1rem;
}

div.div-col-span-1-unique-1:nth-child(4) > ul.ul-space-y-2-text-sm-unique-1 > li.css_pro-li-variation-3:nth-child(4) {
  font-size: 1rem;
}

div.div-col-span-1-unique-1:nth-child(4) > ul.ul-space-y-2-text-sm-unique-1 > li.css_pro-li-variation-4:nth-child(5) {
  font-size: 1rem;
}


</style>

