<footer id="maage-footer" class="bg-white mb-15 footer">
    <div class="mx-auto max-w-7xl px-6 pt-12 pb-12 sm:pt-12 lg:pt-20 lg:pb-20">

        <div class="grid grid-cols-8 gap-12 xl:col-span-2">
            <!-- Info Column -->
            <div class="space-y-4 mt-4 col-span-4">
                <img class="h-[60px] mt-[-15px] mb-4 inline" src="/patric/images/maage/maage-logo-alt.svg" alt="MAAGE Logo">
                    <span class="font-poppins font-light text-[48px] text-[var(--maage-primary-700)] mt-[16px]">MA</span>
                    <span class="font-poppins font-semibold text-[48px] text-[var(--maage-primary-500)] mt-[16px]">AGE</span>
                <div class="w-16 h-1 bg-[var(--maage-secondary-500)]"></div>
                <p class="text-lg font-inter text-[#1c1f21]">
                    The MAAGE is a collaboration of Argonne National Laboratory, Illinois Department of Public Health, and the University of
                    Illinois.
                </p>
                <div class="flex space-x-4 text-[var(--maage-secondary-500)] mt-4">
                    <a href="https://github.com/MAAGE-BRC" target="_blank"><span class="fa-brands fa-github fa-2x hover:opacity-75" target="_blank"></span></a>
                    <a href="https://facebook.com" target="_blank"><span class="fa-brands fa-facebook fa-2x hover:opacity-75"></span></a>
                    <a href="https://x.com/MAAGE_BRC" target="_blank"><span class="fa-brands fa-twitter fa-2x hover:opacity-75"></span></a>
                    <a href="https://instagram.com" target="_blank"><span class="fa-brands fa-instagram fa-2x hover:opacity-75"></span></a>
                    <a href="https://www.linkedin.com/company/maage-brc" target="_blank"><span class="fa-brands fa-linkedin fa-2x hover:opacity-75"></span></a>
                </div>
            </div>

            <div class="mt-4">
                <h2 class="text-xl font-semibold font-poppins text-[var(--mage-dark-text)]">Updates</h2>
                <div class="mt-4 mb-4 w-16 h-1 bg-[var(--maage-secondary-500)]"></div>
                <ul class="space-y-2">
                    <li>
                        <a href="#" class="text-[var(--mage-dark-text)] text-lg font-inter hover:opacity-75 hover:underline transition-colors">
                            Reports
                        </a>
                    </li>
                    <li>
                        <a href="#" class="text-[var(--mage-dark-text)] text-lg font-inter hover:opacity-75 hover:underline transition-colors">
                            Publications
                        </a>
                    </li>
                    <li>
                        <a href="#" class="text-[var(--mage-dark-text)] text-lg font-inter hover:opacity-75 hover:underline transition-colors">
                            Citations
                        </a>
                    </li>
                    <li>
                        <a href="#" class="text-[var(--mage-dark-text)] text-lg font-inter hover:opacity-75 hover:underline transition-colors">
                            Calendar
                        </a>
                    </li>
                </ul>
            </div>

            <!-- Additional Links Column -->
            <div class="mt-4">
                <h2 class="text-xl font-bold font-poppins text-[var(--mage-dark-text)]">Help</h2>
                <div class="mt-4 mb-4 w-16 h-1 bg-[var(--maage-secondary-500)]"></div>
                <ul class="space-y-2">
                    <li>
                        <a href="#" class="text-[var(--mage-dark-text)] text-lg font-inter hover:opacity-75 hover:underline transition-colors">
                            Contact
                        </a>
                    </li>
                    <li>
                        <a href="#" class="text-[var(--mage-dark-text)] text-lg font-inter hover:opacity-75 hover:underline transition-colors">
                            Documentation
                        </a>
                    </li>
                    <li>
                        <a href="#" class="text-[var(--mage-dark-text)] text-lg font-inter hover:opacity-75 hover:underline transition-colors">
                            Guides
                        </a>
                    </li>
                    <li>
                        <a href="#" class="text-[var(--mage-dark-text)] text-lg font-inter hover:opacity-75 hover:underline transition-colors">
                            Tutorials
                        </a>
                    </li>
                </ul>
            </div>

            <div class="mt-10 xl:mt-0 col-span-2">
                <!-- Newsletter Column -->
                <div class="mt-4">
                    <h2 class="text-xl font-bold font-poppins text-[var(--mage-dark-text)]">Newsletter</h2>
                    <div class="w-16 h-1 bg-[var(--maage-secondary-500)] mt-2 mb-4"></div>
                    <p class="text-lg font-inter text-[#1c1f21] mb-4">
                        Sign up for our monthly newsletter.
                    </p>
                    <form class="space-y-2">
                        <input type="email" placeholder="Enter your email"
                            class="w-full bg-white border border-gray-300 text-[#1c1f21] placeholder-gray-500 p-2 rounded" />
                        <button type="submit"
                            class="w-full bg-[var(--maage-primary-500)] hover:bg-[var(--maage-primary-400)] text-white p-2 rounded transition-colors">
                            Subscribe
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="w-full h-[50px] bg-[var(--maage-primary-500)]"></div>

</footer>