<footer class="inherited-styles-for-exported-element footer-bg-var-maage-secondary-600-text-white-py-12 min-h-[275px]">
  <div class="div-container-mx-auto-px-4">
    <div class="div-grid-grid-cols-1-md-grid-cols-5-gap-8 my-[20px]">
      <div class="div-col-span-2-md-col-span-2">
        <div class="div-flex-items-center-mb-4">
          <a href="/" class="a-inline-flex-items-center-gap-2 transition duration-300" aria-label="MAAGE">
            <img class="img-h-14" src="/patric/images/maage/maage-logo.png" alt="MAAGE Logo">
            <div class="css_pro-div-variation-1">
              <span class="span-style-1">MA</span>
              <span class="span-style-2">AGE</span>
            </div>
          </a>
        </div>
        <div class="h-[4px] w-[50px] bg-[var(--maage-primary-300)] mt-[-4px] mb-[25px]"></div>
        <div class="mt-[12px]">
          <h4 class="font-poppins text-sm font-semibold text-[var(--maage-gray-200)]">Connect with MAAGE</h4>
          <div class="flex space-x-4 mt-[5px]">
            <a href="https://github.com/MAAGE-BRC" class="transition duration-300" aria-label="Github">
              <span
                class="fab fa-github text-3xl text-[var(--maage-gray-200)] hover:text-white transition duration-300 hover:scale-110"></span>
            </a>

            <a href="https://www.twitter.com/maage_brc" class="transition duration-300" aria-label="Twitter">
              <span
                class="fab fa-twitter text-3xl text-[var(--maage-gray-200)] hover:text-white transition duration-300 hover:scale-110"></span>
            </a>

            <a href="https://www.linkedin.com/company/maage-brc" class="transition duration-300" aria-label="LinkedIn">
              <span
                class="fab fa-linkedin text-3xl text-[var(--maage-gray-200)] hover:text-white transition duration-300 hover:scale-110"></span>
            </a>

            <a href="mailto:help@maage-brc.org" class="transition duration-300" aria-label="Email">
              <span
                class="fas fa-envelope text-3xl text-[var(--maage-gray-200)] hover:text-white transition duration-300 hover:scale-110"></span>
            </a>
          </div>
        </div>
      </div>

      <div class="col-span-1">
        <h3 class="text-[var(--maage-secondary-200)] text-xl font-poppins font-medium">MAAGE</h3>
        <div class="h-[4px] w-[55px] bg-[var(--maage-primary-300)] mt-[6px] mb-[6px]"></div>
        <ul>
          <li class="pt-1"><a
              class="hover:text-white visited:text-[var(--maage-gray-200)] text-[15px] font-poppins font-normal text-[var(--maage-gray-200)] transition duration-300"
              href="/about">About Us</a></li>
          <li class="pt-1"><a
              class="hover:text-white visited:text-[var(--maage-gray-200)] text-[15px] font-poppins font-normal text-[var(--maage-gray-200)] transition duration-300"
              href="/team">Our Team</a></li>
          <li class="pt-1"><a
              class="hover:text-white visited:text-[var(--maage-gray-200)] text-[15px] font-poppins font-normal text-[var(--maage-gray-200)] transition duration-300"
              href="/advisory-boards">Advisory Boards</a></li>
          <li class="pt-1"><a
              class="hover:text-white visited:text-[var(--maage-gray-200)] text-[15px] font-poppins font-normal text-[var(--maage-gray-200)] transition duration-300"
              href="/contact">Contact Us</a></li>
        </ul>
      </div>

      <div class="col-span-1">
        <h3 class="text-[var(--maage-secondary-200)] text-xl font-poppins font-medium">Resources</h3>
        <div class="h-[4px] w-[95px] bg-[var(--maage-primary-300)] mt-[6px] mb-[6px]"></div>
        <ul>
          <li class="pt-1"><a
              class="hover:text-white visited:text-[var(--maage-gray-200)] text-[15px] font-poppins font-normal text-[var(--maage-gray-200)] transition duration-300"
              href="/docs/">Documentation</a></li>
          <li class="pt-1"><a
              class="hover:text-white visited:text-[var(--maage-gray-200)] text-[15px] font-poppins font-normal text-[var(--maage-gray-200)] transition duration-300"
              href="/reports">Analysis Reports</a></li>
          <li class="pt-1"><a
              class="hover:text-white visited:text-[var(--maage-gray-200)] text-[15px] font-poppins font-normal text-[var(--maage-gray-200)] transition duration-300"
              href="/publications">Publications</a></li>
          <li class="pt-1"><a
              class="hover:text-white visited:text-[var(--maage-gray-200)] text-[15px] font-poppins font-normal text-[var(--maage-gray-200)] transition duration-300"
              href="/citations">Citations</a></li>
        </ul>
      </div>

      <div class="col-span-1">
        <h3 class="text-[var(--maage-secondary-200)] text-xl font-poppins font-medium">Policies</h3>
        <div class="h-[4px] w-[70px] bg-[var(--maage-primary-300)] mt-[6px] mb-[6px]"></div>
        <ul>
          <li class="pt-1"><a
              class="hover:text-white visited:text-[var(--maage-gray-200)] text-[15px] font-poppins font-normal text-[var(--maage-gray-200)] transition duration-300"
              href="/privacy-policy">Privacy Policy</a></li>
          <li class="pt-1"><a
              class="hover:text-white visited:text-[var(--maage-gray-200)] text-[15px] font-poppins font-normal text-[var(--maage-gray-200)] transition duration-300"
              href="/tos">Terms of Use</a></li>
          <li class="pt-1"><a
              class="hover:text-white visited:text-[var(--maage-gray-200)] text-[15px] font-poppins font-normal text-[var(--maage-gray-200)] transition duration-300"
              href="/data-policy">Data Usage Policy</a></li>
          <li class="pt-1"><a
              class="hover:text-white visited:text-[var(--maage-gray-200)] text-[15px] font-poppins font-normal text-[var(--maage-gray-200)] transition duration-300"
              href="/accessibility">Accessibility</a></li>
        </ul>
      </div>
    </div>
</footer>

<section class="">
  <div class="footer-cap">
    <div class="flex gap-3 font-light max-w-8xl ml-auto mr-auto">
      <span>MAAGE v0.2.8</span>
      <span>|</span>
      <a href="/sitemap.xml"
        class="font-poppins text-sm font-light text-[#fafafa] hover:opacity-80 transition hover:underline hover:scale-110 duration-300">
         sitemap</a>
    </div>
  </div>
</section>