<footer id="maage-footer" class="bg-white mb-15 footer">
    <div class="mx-auto max-w-7xl px-6 pt-20 pb-8 sm:pt-24 lg:pt-24 lg:pb-24">

        <div class="grid grid-cols-8 gap-12 xl:col-span-2">
            <!-- Info Column -->
            <div class="space-y-4 mt-4 col-span-3">
                <img src="/placeholder.svg?height=100&width=300"
                    alt="Logo for the Midwest Alliance for Applied Genomic Epidemiology" class="mb-4">
                <div class="w-16 h-1 bg-[var(--maage-secondary-500)]"></div>
                <p class="text-lg font-inter text-[#1c1f21]">
                    The MAAGE is a collaboration of the Illinois Department of Public Health, the University of
                    Illinois, and the U.S. Department of Energy's Argonne National Laboratory.
                </p>
                <div class="flex space-x-4">
                    <span class="fa-brands fa-github fa-2x"></span>
                    <span class="fa-brands fa-facebook fa-2x"></span>
                    <span class="fa-brands fa-twitter fa-2x"></span>
                    <span class="fa-brands fa-instagram fa-2x"></span>
                    <span class="fa-brands fa-linkedin fa-2x"></span>
                </div>
            </div>

            <div class="mt-4">
                <h2 class="text-xl font-semibold font-poppins text-[#34383c]">Content</h2>
                <div class="mt-4 mb-4 w-16 h-1 bg-[var(--maage-secondary-500)]"></div>
                <ul class="space-y-2">
                    <li>
                        <a href="#" class="text-[#34383c] text-lg font-inter hover:text-white transition-colors">
                            Analysis Reports
                        </a>
                    </li>
                    <li>
                        <a href="#" class="text-[#34383c] text-lg font-inter hover:text-white transition-colors">
                            Publications
                        </a>
                    </li>
                    <li>
                        <a href="#" class="text-[#34383c] text-lg font-inter hover:text-white transition-colors">
                            Citations
                        </a>
                    </li>
                    <li>
                        <a href="#" class="text-[#34383c] text-lg font-inter hover:text-white transition-colors">
                            Calendar
                        </a>
                    </li>
                </ul>
            </div>

            <!-- Additional Links Column -->
            <div class="mt-4">
                <h2 class="text-xl font-bold font-poppins text-[#34383c]">Info</h2>
                <div class="mt-4 mb-4 w-16 h-1 bg-[var(--maage-secondary-500)]"></div>
                <ul class="space-y-2">
                    <li>
                        <a href="#" class="text-[#34383c] text-lg font-inter hover:text-[#436d5a] transition-colors">
                            Contact Us
                        </a>
                    </li>
                    <li>
                        <a href="#" class="text-[#34383c] text-lg font-inter hover:text-[#436d5a] transition-colors">
                            Documentation
                        </a>
                    </li>
                    <li>
                        <a href="#" class="text-[#34383c] text-lg font-inter hover:text-[#436d5a] transition-colors">
                            User Guides
                        </a>
                    </li>
                    <li>
                        <a href="#" class="text-[#34383c] text-lg font-inter hover:text-[#436d5a] transition-colors">
                            Tutorials
                        </a>
                    </li>
                </ul>
            </div>

            <div class="mt-10 xl:mt-0 col-span-2">
                <!-- Newsletter Column -->
                <div class="mt-4">
                    <h2 class="text-xl font-bold font-poppins text-[#34383c]">Newsletter</h2>
                    <div class="w-16 h-1 bg-[var(--maage-secondary-500)] mt-2 mb-4"></div>
                    <p class="text-lg font-inter text-[#1c1f21] mb-4">
                        Sign up for our monthly newsletter.
                    </p>
                    <form class="space-y-2">
                        <input type="email" placeholder="Enter your email"
                            class="w-full bg-white border border-gray-300 text-[#1c1f21] placeholder-gray-500 p-2 rounded" />
                        <button type="submit"
                            class="w-full bg-[var(--maage-secondary-500)] hover:bg-[#34383c] text-white p-2 rounded transition-colors">
                            Subscribe
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="w-full h-[50px] bg-[var(--maage-secondary-500)]"></div>

</footer>