<footer id="maage-footer" class="bg-[#F8F6F2] py-2">
    <div class="bg-[var(--maage-primary-400)] py-6 mt-20">
      <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
        <div class="flex flex-col items-center justify-between gap-2 md:flex-row">
          <div class="mb-3 text-center md:mb-0 md:text-left">
            <span class="font-semibold text-xl text-[var(--maage-light-text)] font-poppins">Newsletter</span>
            <p class="text-[var(--maage-light-text-alt)] text-lg font-inter">Subscribe to our newsletter</p>
          </div>

          <form class="flex w-full gap-2 md:max-w-md">
            <input placeholder="Email" class="w-full flex-1 rounded border border-white bg-[var(--maage-primary-50)] px-3 py-2 text-white placeholder-[var(--maage-dark-text)] outline-none ring-[var(--maage-primary-300)] transition duration-100 focus:ring" />

            <button class="inline-block rounded bg-[var(--maage-secondary-600)] px-8 py-2 text-center text-sm font-semibold text-[var(--maage-light-text)] outline-none ring-[var(--maage-secondary-600)] transition duration-100 hover:bg-gray-100 focus-visible:ring active:text-[var(--maage-secondary-600)] md:text-base">Send</button>
          </form>
        </div>
      </div>
    </div>

    <div class="pt-12 lg:pt-16">
      <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
        <div class="mb-16 grid grid-cols-2 gap-12 md:grid-cols-4 lg:grid-cols-6 lg:gap-8">
          <div class="col-span-full lg:col-span-2">


            <!-- logo - start -->
            <div class="mb-3">
              <a href="/" class="inline-flex items-center gap-2 text-xl font-bold text-black md:text-2xl" aria-label="logo">
                <img class="h-[50px] mt-[20px] mb-2 inline" src="/patric/images/maage/maage-logo.png" alt="MAAGE Logo">
                    <span class="font-poppins font-light text-[48px] text-[var(--maage-secondary-700)] mt-[16px]">MA</span>
                    <span class="font-poppins font-semibold text-[48px] text-[var(--maage-secondary-500)] mt-[16px] ml-[-5px]">AGE</span>

              </a>
            </div>
            <div class="w-16 h-1 bg-[var(--maage-secondary-500)]"></div>



            <p class="mt-4 mb-6 text-lg text-[var(--maage-dark-text-alt)] sm:pr-8">The MAAGE is a collaboration of Argonne National Laboratory, Illinois Department of Public Health, and the University of
                Illinois.</p>
                <div class="footer-social-links flex space-x-4 text-[var(--maage-secondary-500)] mt-4">
                    <a href="https://github.com/MAAGE-BRC" target="_blank"><span class="fa-brands fa-github fa-2x hover:opacity-75" target="_blank"></span></a>
                    <a href="https://facebook.com" target="_blank"><span class="fa-brands fa-facebook fa-2x hover:opacity-75"></span></a>
                    <a href="https://x.com/MAAGE_BRC" target="_blank"><span class="fa-brands fa-twitter fa-2x hover:opacity-75"></span></a>
                    <a href="https://instagram.com" target="_blank"><span class="fa-brands fa-instagram fa-2x hover:opacity-75"></span></a>
                    <a href="https://www.linkedin.com/company/maage-brc" target="_blank"><span class="fa-brands fa-linkedin fa-2x hover:opacity-75"></span></a>
                </div>



          </div>



          <!-- nav - start -->
          <div class="pt-8">
            <div class="mb-4 font-poppins font-semibold text-xl tracking-widest text-gray-800">MAAGE</div>

            <nav class="flex flex-col gap-4 font-inter font-normal text-[15px]">

                <div>
                    <a href="#" class="text-[var(--maage-secondary-700)] transition duration-100 hover:opacity-75 hover:underline active:opacity-75 active:underline">About Us</a>
                  </div>
            <div>
                <a href="#" class="text-[var(--maage-secondary-700)] transition duration-100 hover:opacity-75 hover:underline active:opacity-75 active:underline">Events</a>
            </div>


              <div>
                <a href="#" class="text-[var(--maage-secondary-700)] transition duration-100 hover:opacity-75 hover:underline active:opacity-75 active:underline">Members</a>
              </div>



              <div>
                <a href="#" class="text-[var(--maage-secondary-700)] transition duration-100 hover:opacity-75 hover:underline active:opacity-75 active:underline">Advisory Boards</a>
              </div>


              <div>
                <a href="#" class="text-[var(--maage-secondary-700)] transition duration-100 hover:opacity-75 hover:underline active:opacity-75 active:underline">Events</a>
              </div>
            </nav>
          </div>

          <div class="pt-8">
            <div class="mb-4 font-poppins font-semibold text-xl tracking-widest text-gray-800">Updates</div>

            <nav class="flex flex-col gap-4 font-inter font-normal text-[15px]">
                <div>
                    <a href="#" class="text-[var(--maage-secon)] transition duration-100 hover:opacity-75 hover:underline active:opacity-75 active:underline">Outbreak Dashboards</a>
                  </div>
              <div>
                <a href="#" class="text-[var(--maage-secondary-700)] transition duration-100 hover:opacity-75 hover:underline active:opacity-75 active:underline">Publications</a>
              </div>

              <div>
                <a href="#" class="text-[var(--maage-secondary-700)] transition duration-100 hover:opacity-75 hover:underline active:opacity-75 active:underline">Analysis Reports</a>
              </div>

              <div>
                <a href="#" class="text-[var(--maage-secondary-700)] transition duration-100 hover:opacity-75 hover:underline active:opacity-75 active:underline">Citations</a>
              </div>

              <div>
                <a href="#" class="text-[var(--maage-secondary-700)] transition duration-100 hover:opacity-75 hover:underline active:opacity-75 active:underline">Calendar</a>
              </div>
            </nav>
          </div>



          <div class="pt-8">
            <div class="mb-4 font-poppins font-semibold text-xl tracking-widest text-gray-800">Help</div>

            <nav class="flex flex-col gap-4 font-inter font-normal text-[15px]">
              <div>
                <a href="#" class="text-[var(--maage-secondary-700)] transition duration-100 hover:opacity-75 hover:underline active:opacity-75 active:underline">Contact Us</a>
              </div>

              <div>
                <a href="#" class="text-[var(--maage-secondary-700)] transition duration-100 hover:opacity-75 hover:underline active:opacity-75 active:underline">API Documentation</a>
              </div>

              <div>
                <a href="#" class="text-[var(--maage-secondary-700)] transition duration-100 hover:opacity-75 hover:underline active:opacity-75 active:underline">Tutorials</a>
              </div>

              <div>
                <a href="#" class="text-[var(--maage-secondary-700)] transition duration-100 hover:opacity-75 hover:underline active:opacity-75 active:underline">User Guides</a>
              </div>

              <div>
                <a href="#" class="text-[var(--maage-secondary-700)] transition duration-100 hover:opacity-75 hover:underline active:opacity-75 active:underline">More Docs</a>
              </div>
            </nav>
          </div>



          <div class="pt-8">
            <div class="mb-4 font-poppins font-semibold text-xl text-gray-800">Info</div>

            <nav class="flex flex-col gap-4 font-inter font-normal text-[15px]">
              <div>
                <a href="#" class="text-[var(--maage-secondary-700)] transition duration-100 hover:opacity-75 hover:underline active:opacity-75 active:underline">Privacy Policy</a>
              </div>

              <div>
                <a href="#" class="text-[var(--maage-secondary-700)] transition duration-100 hover:opacity-75 hover:underline active:opacity-75 active:underline">Security</a>
              </div>

              <div>
                <a href="#" class="text-[var(--maage-secondary-700)] transition duration-100 hover:opacity-75 hover:underline active:opacity-75 active:underline">Site Cookies</a>
              </div>

              <div>
                <a href="#" class="text-[var(--maage-secondary-700)] transition duration-100 hover:opacity-75 hover:underline active:opacity-75 active:underline">Website Accessability</a>
              </div>

              <div>
                <a href="#" class="text-[var(--maage-secondary-700)] transition duration-100 hover:opacity-75 hover:underline active:opacity-75 active:underline">Submit Feedback</a>
              </div>
            </nav>
          </div>

        </div>

        <div class="border-t pt-12 pb-6 text-center text-[15px]"><a class="text-[var(--maage-secondary-700)] transition duration-100 hover:opacity-75 hover:underline active:opacity-75 active:underlin" href="https://www.anl.gov">ANL</a> | <a class="text-[var(--maage-secondary-700)] transition duration-100 hover:opacity-75 hover:underline active:opacity-75 active:underlin" href="https://dph.illinois.gov">IDPH</a> | <a class="text-[var(--maage-secondary-700)] transition duration-100 hover:opacity-75 hover:underline active:opacity-75 active:underlin" href="https://illinois.edu">Illinois.edu</a></div>
      </div>
    </div>
  </footer>