<div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'top'">
    <% var services = [
        {name: "Campylobacter", href: "/view/Taxonomy/194#view_tab=overview"},
        {name: "Escherichia", href: "/view/Taxonomy/561#view_tab=overview"},
        {name: "Listeria", href: "/view/Taxonomy/1637#view_tab=overview"},
        {name: "Salmonella", href: "/view/Taxonomy/590#view_tab=overview"}
    ]

    var featured_virus = [
        {name: "Influenza A virus", href: "/view/Taxonomy/11320#view_tab=overview"},
        {name: "Monkeypox virus", href: "/view/Taxonomy/10244#view_tab=overview"},
        {name: "SARS-CoV-2", href: "/view/Taxonomy/2697049#view_tab=overview"}
    ]

    var metagenomes = [
        {name: "SARS-CoV-2 Wastewater", href: ""},
        {name: "H5N1 Wastewater", href: ""}
    ]


    var servicesMiddle = Math.round(services.length / 2);
    var featuredVirusMiddle = Math.round(featured_virus.length / 2);
    var metagenomesMiddle = Math.round(metagenomes.length / 2);

    var isProd = request.applicationOptions.appLabel == "";
    %>



    <%- include('maage-header') %>




</div>