

<div id="bv-brc-home"">
    <div id="bv-brc-home-container">
        <div class="verification_message home-banner">
            <p>
                <strong>Your email has not been verified. Click here to visit your profile and update your email address
                    and/or resend the verification message.</strong>
            </p>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-6 gap-4 p-4">
            <!-- Left Column (4/6 width) -->
            <div class="md:col-span-4 bg-gray-50 rounded-xl p-6 shadow-sm">
              <section class="bg-white p-6 rounded-lg shadow-sm inherited-styles-for-exported-element" spellcheck="false" data-ms-editor="true">
                <h1 class="text-5xl font-semibold text-gray-800 mb-4 font-poppins">Midwest Alliance for Applied Genomic Epidemiology</h1>
                <p class="text-gray-700 mb-4">The Midwest Alliance for Applied Genomic Epidemiology (MAAGE) is a collaboration of IDPH, the University of Illinois, and Argonne National Laboratory. The goal of the MAAGE is to develop a genomic surveillance and epidemiology platform to enable state and local public health agencies to detect and track the spread of infectious diseases with greater sensitivity and to provide educational material to help the public health and healthcare community to use this platform for their everyday work.</p>
                <p class="text-gray-700">Please refer to the <a href="#" class="text-secondary-600 hover:underline">quick start guide</a> to learn how to get started and contact us if you have any questions.</p>
            </section>
            <br>
            <section class="bg-white p-6 rounded-lg shadow-sm">
                <h2 class="text-2xl font-semibold text-gray-800 mb-4 font-poppins">Search</h2>
            </section>
            <br>
            <section class="bg-white p-6 rounded-lg shadow-sm">
                <h2 class="text-2xl font-semibold text-gray-800 mb-4 font-poppins">MAAGE Data</h2>
                <p class="text-gray-700 mb-4">Upload and analyze your data in the private workspace.<a class="text-secondary-600 hover:underline mx-1" href="/register">Register</a>or<a class="text-secondary-600 hover:underline mx-1" href="/login">Login</a>to get started.</p>
                <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
                    <div class="space-y-2">
                        <h3 class="font-semibold text-lg text-gray-700">Search</h3>
                        <ul class="space-y-1 text-md text-gray-600">
                            <li><a class="hover:text-secondary-600" href="#">Taxa</a></li>
                            <li><a class="hover:text-secondary-600" href="#">Genomes</a></li>
                            <li><a class="hover:text-secondary-600" href="#">Features</a></li>
                            <li><a class="hover:text-secondary-600" href="#">Specialty Genes</a></li>
                            <li><a class="hover:text-secondary-600" href="#">All Searches...</a></li>
                        </ul>
                    </div>
                    <div class="space-y-2">
                        <h3 class="font-semibold text-lg text-gray-700">Analyze</h3>
                        <ul class="space-y-1 text-md text-gray-600">
                            <li><a class="hover:text-secondary-600" href="#">Assembly</a></li>
                            <li><a class="hover:text-secondary-600" href="#">Annotation</a></li>
                            <li><a class="hover:text-secondary-600" href="#">BLAST</a></li>
                            <li><a class="hover:text-secondary-600" href="#">MSA</a></li>
                            <li><a class="hover:text-secondary-600" href="#">All Tools &amp; Services...</a></li>
                        </ul>
                    </div>
                    <div class="space-y-2">
                        <h3 class="font-semibold text-lg text-gray-700">Manage</h3>
                        <ul class="space-y-1 text-md text-gray-600">
                            <li><a class="hover:text-secondary-600" href="#">Access Private Workspace</a></li>
                            <li class=""><a class="hover:text-secondary-600" href="#">Save Search Results</a></li>
                            <li><a class="hover:text-secondary-600" href="#">Upload Data</a></li>
                            <li class=""><a class="hover:text-secondary-600" href="#">Access Analysis Jobs</a></li>
                            <li class=""><a class="hover:text-secondary-600" href="#">Share and Publish</a></li>
                        </ul>
                    </div>
                    <div class="space-y-2">
                        <h3 class="font-semibold text-lg text-gray-700">Access</h3>
                        <ul class="space-y-1 text-md text-gray-600">
                        <li><a class="hover:text-secondary-600" href="https://bv-brc.org/docs/cli_tutorial/index.html" target="=_blank">CLI</a></li>
                        <li><a class="hover:text-secondary-600" href="https://bv-brc.org/api/doc/" target="=_blank">API</a></li>
                        <li><a class="hover:text-secondary-600" href="https://bv-brc.org/docs/quick_references/ftp.html"
                            target="=_blank">FTP</a></li>
                        </ul>
                    </div>
                </div>
                <div class="mt-6 flex flex-wrap gap-2 justify-center"><a class="border border-gray-300 text-gray-700 px-4 py-2 rounded-3xl hover:bg-gray-50 text-sm" href="#">Quick Start</a><a class="border border-gray-300 text-gray-700 px-4 py-2 rounded-3xl hover:bg-gray-50 text-sm" href="#">Reference Guides</a><a class="border border-gray-300 text-gray-700 px-4 py-2 rounded-3xl hover:bg-gray-50 text-sm" href="#">Tutorials</a></div>
            </section>
            <br>
            <section class="bg-white p-6 rounded-lg shadow-sm">
                <h2 class="text-xl font-semibold text-gray-800 mb-4 font-poppins">Active Outbreaks</h2>
                <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                    <div class="bg-primary-50 rounded-lg p-4">
                        <h3 class="text-xl font-semibold text-primary-800 mb-2">Mpox 2024</h3>
                        <div class="bg-gray-200 w-full h-32 flex items-center justify-center mb-3 rounded"><span class="text-gray-500">240 × 120</span></div>
                        <p class="text-md text-gray-600 mb-4">Monkeypox virus lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><a class="text-secondary-600 hover:underline text-md" href="#">View Dashboard</a>
                    </div>
                    <div class="bg-primary-50 rounded-lg p-4">
                        <h3 class="text-xl font-semibold text-primary-800 mb-2">Influenza H5N1 2024</h3>
                        <div class="bg-gray-200 w-full h-32 flex items-center justify-center mb-3 rounded"><span class="text-gray-500">240 × 120</span></div>
                        <p class="text-md text-gray-600 mb-4">The H5N1 virus ... lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><a class="text-secondary-600 hover:underline text-md" href="#">View Dashboard</a>
                    </div>
                    <div class="bg-primary-50 rounded-lg p-4">
                        <h3 class="text-xl font-semibold text-primary-800 mb-2">SARS-CoV-2</h3>
                        <div class="bg-gray-200 w-full h-32 flex items-center justify-center mb-3 rounded"><span class="text-gray-500">240 × 120</span></div>
                        <p class="text-md text-gray-600 mb-4">SARS-CoV-2 virus ... lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><a class="text-secondary-600 hover:underline text-md" href="#">View Dashboard</a>
                    </div>
                </div>
            </section>

            </div>

            <!-- Right Column (2/6 width) -->
            <div class="md:col-span-2 bg-gray-100 rounded-xl p-6 shadow-sm">
                <div class="space-y-6 inherited-styles-for-exported-element" spellcheck="false" data-ms-editor="true">
                    <section class="bg-white p-6 rounded-lg shadow-sm">
                      <h2 class="text-xl font-bold text-gray-800 mb-4 font-poppins">Latest News</h2>
                    </section>
                    <section class="bg-white p-6 rounded-lg shadow-sm">
                      <h2 class="text-xl font-bold text-gray-800 mb-4 font-poppins">Event Calendar</h2>
                    </section>
                    <section class="bg-white p-6 rounded-lg shadow-sm">
                      <h2 class="text-xl font-bold text-gray-800 mb-4 font-poppins">Outreach Programs</h2>
                    </section>
                  </div>
            </section>

            </div>
          </div>


    </div>
</div>

<%- include('footer') %>

  <style>

    :root {
      --radius: 0.5rem;
      --tw-shadow-color: ;
    }

    *, ::after, ::before {
      --tw-ring-offset-shadow: 0 0 #0000;
      --tw-ring-shadow: 0 0 #0000;
      --tw-shadow: 0 0 #0000;
    }

    ::backdrop {
      --tw-shadow: 0 0 #0000;
      --tw-ring-shadow: 0 0 #0000;
      --tw-ring-offset-shadow: 0 0 #0000;
    }

    *, ::after, ::before {
      border-style: solid;
      border-width: 0;
      box-sizing: border-box;
    }

    ::after, ::before {
      border-color: #e5e7eb;
    }

    .inherited-styles-for-exported-element {
      color: hsl(222.2 84% 4.9%);
      font-family: Inter, sans-serif;
      tab-size: 4;
    }

    h2 {
      margin-left: 0;
      margin-right: 0;
      margin-top: 0;
    }

    :disabled {
      cursor: default;
    }

    * {
      border-color: #e2e8f0;
    }

    .mb-4 {
      margin-bottom: 1rem;
    }

    .space-y-6 > :not([hidden]) ~ :not([hidden]) {
      --tw-space-y-reverse: 0;
      margin-bottom: calc(1.5rem*var(--tw-space-y-reverse));
      margin-top: calc(1.5rem*calc(1 - var(--tw-space-y-reverse)));
    }

    .rounded-lg {
      border-radius: var(--radius);
    }

    .bg-white {
      background-color: rgb(255 255 255/var(--tw-bg-opacity, 1));
      --tw-bg-opacity: 1;
    }

    .p-6 {
      padding: 1.5rem;
    }

    .font-poppins {
      font-family: Poppins, sans-serif;
    }

    .text-xl {
      font-size: 1.25rem;
      line-height: 1.75rem;
    }

    .font-bold {
      font-weight: 700;
    }

    .text-gray-800 {
      color: rgb(31 41 55/var(--tw-text-opacity, 1));
      --tw-text-opacity: 1;
    }

    .shadow-sm {
      --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
      box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    }
  </style>

