<div id="bv-brc-home" class="bg-[var(--maage-bg)]">
    <div id="maage-home" class="bg-[var(--maage-bg)]">
      <div id="bv-brc-home-container" class="bg-[var(--maage-bg)]">



      </div>
    </div>
  </div>

  <style>
    body.patric {
      min-width: 320px;
    }

    #p3header-search,
    #mobile-search-icon {
      display: none;
    }

    .home-main-left h1,
    .home-main-left h2 {
      margin-bottom: 0;
    }

    #wrapper-footer footer {
margin-top: 400px;
    }
  </style>