<div id="bv-brc-home" class="bg-[var(--maage-bg)]">
    <div id="maage-home" class="bg-[var(--maage-bg)]">
      <div id="bv-brc-home-container" class="bg-[var(--maage-bg)]">
        <div class="verification_message home-banner">
          <p>
            <strong
              >Your email has not been verified. Click here to visit your profile
              and update your email address and/or resend the verification
              message.</strong
            >
          </p>
        </div>

        <div class="grid-container" class="bg-[var(--maage-bg)]">
          <div class="home-main home-main-left">
            <div class="bv-brc-info card shadow-2xl rounded-xl">
              <h1 class="text-poppins text-semibold">Midwest Alliance for Applied Genomic Epidemiology</h1>
              <p class="text-inter text-normal">
                The Midwest Alliance for Applied Genomic Epidemiology (MAAGE) is a
                collaboration of IDPH, the University of Illinois, and Argonne
                National Laboratory. The goal of the MAAGE is to develop a genomic
                surveillance and epidemiology platform to enable state and local
                public health agencies to detect and track the spread of
                infectious diseases with greater sensitivity and to provide
                educational material to help the public health and healthcare
                community to use this platform for their everyday work.
                <br /><br />Please refer to the
                <a
                  href="https://www.bv-brc.org/docs/quick_start/index.html"
                  class="navigationLinkOut"
                  style="font-weight: 500"
                  >quick start guide</a
                >
                to learn how to get started and
                <a
                  href="mailto:help@bv-brc.org"
                  style="font-weight: 500; color: #436d58"
                  >contact us</a
                >
                if you have any questions.
              </p>
              <div class="search">
                <h3 class="text-poppins text-semibold text-2xl" style="color: #1a1a1a!important; font-weight: 600!important;">SEARCH</h3>
                <div class="global-search">
                  <div style="padding: 6px 0px 2px 2px; flex-grow: 1">
                    <input
                      style="width: 100%; font-size: 1em"
                      class="showOnLoad dijitHidden"
                      data-dojo-type="p3/widget/GlobalSearch"
                    />
                  </div>
                </div>
              </div>
            </div>

          </div>


        </div>
      </div>
    </div>
  </div>



  <style>
    body.patric {
      min-width: 320px;
    }

    #p3header-search,
    #mobile-search-icon {
      display: none;
    }

    .home-main-left h1,
    .home-main-left h2 {
      margin-bottom: 0;
    }
  </style>
