<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Midwest Alliance for Applied Genomic Epidemiology | MAAGE</title>
		<%- include('head') %>
	  </head>
	<body class="claro patric <% if (request.isAuthenticated && request.isAuthenticated()) { %>Authenticated<% } %>">
		<div id="ApplicationContainer" data-dojo-type="dijit/layout/BorderContainer" class="layoutContainer" data-dojo-props="id:'ApplicationContainer',gutters:false,liveSplitters:false" style="position: relative;">
			<%- include('navbar') %>
			<div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'" style="padding:0px;border:0px solid #ddd;" class="bg-[#333333]">
                <%- include('home') %>
            </div>
		</div>
		<%- include('javascript') %>
		<script>
			// Initialize Lucide icons
			lucide.createIcons();
		  </script>
	</body>
	<style>
		#maage-home {
			position: relative;
			top: 55px;
		}
	</style>
</html>
