<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Midwest Alliance for Applied Genomic Epidemiology | MAAGE</title>
		<%- include('head') %>
	  </head>
	<body class="claro patric <% if (request.isAuthenticated && request.isAuthenticated()) { %>Authenticated<% } %>">
		<div id="ApplicationContainer" data-dojo-type="dijit/layout/BorderContainer" class="layoutContainer" data-dojo-props="id:'ApplicationContainer',gutters:false,liveSplitters:false">
			<%- include('navbar') %>
			<div style="padding:0px;border:0px solid #ddd;" class="bg-[var(--background-color)]">
                <%- include('home') %>
            </div>
		</div>
		<%- include('javascript') %>
		<script>
			// Initialize Lucide icons
			lucide.createIcons();
		  </script>
	</body>
	<style>
		#ApplicationContainer.layoutContainer {
			overflow: auto !important;
			overflow-y: auto !important;
			overflow-x: auto !important;
			position: relative !important;
		}
		#ApplicationContainer .App {
			position: relative !important;
			top: 55px !important;
		}
		#maage-home,
		#maage-page {
			position: relative !important;
			top: 55px !important;
		}
	</style>
</html>
