
<div class="login-component">

    <div class="showOnLoad ShowWithAuth dijitHidden">
        <div class="showOnLoad ShowWithAuth dijitHidden topMenuButtonIcon"
            data-dojo-type="dijit/form/DropDownButton" data-dojo-props="iconClass:'icon-user fa-2x login-btn'">
            <span></span>
            <div class="warning_icon user_warning_icon icon-warning fa fa-1x"> </div>
            <div data-dojo-type="p3/widget/TooltipDialog">
                <div>Signed in as <span id="signedInAs" style="font-weight:bold;"></span></div>
                <hr>
                <div><a style="color: #50886e;" class="userProfile hover:opacity-75 hover:underline">Account Settings <i
                            class="warning_icon account-settings-warning icon-warning fa fa-1x"
                            style="vertical-align:middle;"> </i></a></div>
                <div><a style="color: #50886e;" class="sulogin hover:opacity-75 hover:underline">SU Login</a></div>
                <div><a style="color: #50886e;" class="suSwitchBack hover:opacity-75 hover:underline" onclick="window.App.suSwitchBack()"
                        style="display:none">SU Switch Back</a></div>
                <div><a style="color: #50886e;" class="logoutLink hover:opacity-75 hover:underline" onclick="window.App.logout()">Logout</a></div>
            </div>
        </div>
    </div>

</div>
