

<div data-dojo-type="dijit/layout/ContentPane" class="HeaderBar" data-dojo-props="region:'top'">

    <div id="bv-brc-header" class="P3Header" role="heading" aria-level="1">








    </div>
</div