.maage-page {
	overflow: auto;
	position: relative;
	top: 55px;
}

.maage-page .messageContainer{
	text-align: center;
	margin: 4px auto;
	padding: 4px;
	border: 1px solid green;
	display: none;
	width: 300px;
}

.maage-page .submittedMessage,
.maage-page .workingMessage {
	color: green;
	border-color: green;
}

.maage-page .errorMessage {
	color: red;
	border-color: red;
}

.maage-page.Submitted .submittedMessage,
.maage-page.Working .workingMessage,
.maage-page.Error .errorMessage{
	display: block;
}


.formFieldsContainer {
	text-align:center;
}
.maage-page .formFieldsContainer > *{
	font-size: 1.1em;
	margin-top: 10px;
}

.App {

}

.App .TitleSection {
	width:420px;
	margin: 10px auto auto;
	padding:10px;
}

.App LABEL {
	font-size: .65em;
	text-transform: uppercase;
}
