h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: var(--maage-dark-text);
}

p, a, li, span {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: var(--maage-dark-text);
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: var(--maage-dark-text);
  background-color: var(--maage-bg);
}