

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: var(--maage-dark-text);
}


body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: var(--maage-dark-text);
  background-color: var(--maage-bg);
}

#maage-navbar .topMenuButton .topMenuLink {
  font-family: inter;
  font-size: 15px;
  font-weight: normal;
  color: var(--maage-dark-text)
}

#maage-navbar .topMenuButton .topMenuLink:hover {
  opacity: 0.75;
  text-decoration: underline;
}

#maage-navbar navigationLink .menuItems navbar-menu-link {
  font-size: 15px!important;
  font-family: 'Inter', 'Noto Sans', sans-serif;
  font-weight: 400;
  color: var(--maage-dark-text);
}

#maage-navbar navigationLink .menuItems navbar-menu-link:visited {
  color: var(--maage-dark-text);
}

#maage-navbar  navbar-menu-link:hover {
  opacity: 75%;
  text-decoration: underline;
}

.ActionBar {
background-color: var(--maage-secondary-500)!important;
}

.ActionBar .ActionButtonText {
color: var(--maage-light-text)!important;
}

.DataItemHeader,
.DataItemHeader .fa {
color: var(--maage-secondary-500);
}


#maage-footer .footer-social-links a,
#maage-footer .footer-social-links a:visited {
  color: var(--maage-secondary-500);
}