:root {



    --maage-primary-50: #f2f7f5;
    --maage-primary-100: #deede4;
    --maage-primary-200: #bfd9cb;
    --maage-primary-300: #a6c9b8;
    --maage-primary-400: #8db4a3;
    --maage-primary-500: #5da285;
    --maage-primary-600: #488970;
    --maage-primary-700: #3e7561;
    --maage-primary-800: #376755;
    --maage-primary-900: #32584b;
    --maage-primary-950: #244239;

    --maage-secondary-50: #f2f8f9;
    --maage-secondary-100: #deecef;
    --maage-secondary-200: #c0d9e1;
    --maage-secondary-300: #95becb;
    --maage-secondary-400: #649baf;
    --maage-secondary-500: #477e93;
    --maage-secondary-600: #3d677d;
    --maage-secondary-700: #375767;
    --maage-secondary-800: #334957;
    --maage-secondary-900: #2e3f4b;
    --maage-secondary-950: #1b2831;

    --maage-tertiary-50: #f9f9fa;
    --maage-tertiary-100: #f2f2f7;
    --maage-tertiary-200: #e8e8f1;
    --maage-tertiary-300: #d6d5e5;
    --maage-tertiary-400: #b4b2ce;
    --maage-tertiary-500: #aeaac9;
    --maage-tertiary-600: #978fb5;
    --maage-tertiary-700: #8279a1;
    --maage-tertiary-800: #69618b;
    --maage-tertiary-900: #585172;
    --maage-tertiary-950: #38354c;

    --maage-light-text: #fafafa;
    --maage-light-text-alt: #ececec;
    --maage-dark-text: #1a1a1a;
    --maage-dark-text-alt: #2c2c2c;



    --maage-bg: #F8F6F2;

    --maage-gray-50: #f6f6f6;
    --maage-gray-100: #ededed;
    --maage-gray-200: #dedede;
    --maage-gray-300: #c9c9c9;
    --maage-gray-400: #adadad;
    --maage-gray-500: #8f8f8f;
    --maage-gray-600: #757575;
    --maage-gray-700: #595959;
    --maage-gray-800: #454545;
    --maage-gray-900: #333333;
    --maage-gray-950: #262626;



    --shark-50: #f6f6f6;
    --shark-100: #e7e7e7;
    --shark-200: #d1d1d1;
    --shark-300: #b0b0b0;
    --shark-400: #888888;
    --shark-500: #6d6d6d;
    --shark-600: #5d5d5d;
    --shark-700: #4f4f4f;
    --shark-800: #454545;
    --shark-900: #3d3d3d;
    --shark-950: #1f1f1f;

    --linen-50: #fdfdfc;
    --linen-100: #fafaf6;
    --linen-200: #f5f4ef;
    --linen-300: #efeee4;
    --linen-400: #e9e6da;
    --linen-500: #edeae0;
    --linen-600: #dcd5c6;
    --linen-700: #c3b59c;
    --linen-800: #aa987b;
    --linen-900: #927f60;
    --linen-950: #4d4031;



}