<!DOCTYPE html>
<html lang="en">
  <head>
    <title>About Us | MAAGE - Midwest Alliance for Applied Epidemiology</title>
    <%- include('../head') %>
  </head>
  <body
    class="claro patric <% if (request.isAuthenticated && request.isAuthenticated()) { %>Authenticated<% } %>"
  >
    <div
      id="ApplicationContainer"
      data-dojo-type="dijit/layout/BorderContainer"
      class="layoutContainer"
      data-dojo-props="id:'ApplicationContainer',gutters:false,liveSplitters:false"
    >
      <%- include('../navbar') %>
      <div
        data-dojo-type="dijit/layout/ContentPane"
        data-dojo-props="region:'center'"
        style="padding: 0px; border: 0px solid #ddd; background: inherit"
      >
        <div id="bv-brc-page bg-[#F8F6F2]">
          <div id="bv-brc-page-container bg-[#F8F6F2]">
            <div class="page-content bg-[#F8F6F2]">
              <div id="about-maage" class="min-h-screen bg-[#F8F6F2]">
                <main class="container mx-auto px-4 py-8 bg-[#F8F6F2]">
                  <h2
                    class="font-poppins text-4xl font-semibold mb-6 text-[var(--maage-secondary-500)] pl-6 pr-6"
                  >
                    About Us
                  </h2>

                  <!-- Introductory Blurb -->
                  <section class="mb-12 pl-6 pr-6">
                    <p
                      class="font-inter font-normal text-lg text-gray-800 leading-relaxed"
                    >
                      The Midwest Alliance for Applied Genomic Epidemiology
                      (MAAGE) is a collaboration between the Illinois Department
                      of Public Health, the University of Illinois, and Argonne
                      National Laboratory. The goal of the MAAGE is to develop a
                      genomic surveillance and epidemiology platform to enable
                      state and local public health agencies to detect and track
                      the spread of infectious diseases with greater sensitivity
                      and the provide educational material to help the public
                      health and healthcare community to use this platform for
                      their everyday work.
                    </p>
                  </section>

                  <!-- Leadership Section -->
                  <section class="mb-12 pl-6 pr-6">
                    <h2 class="text-3xl font-semibold mb-6 text-[var(--maage-dark-text-alt)]">
                      Our Leadership
                    </h2>
                    <div class="grid md:grid-cols-3 gap-6">
                      <div
                        class="bg-white p-6 rounded-lg shadow-[rgba(0,_0,_0,_0.24)_0px_3px_8px]"
                      >
                        <img
                          src="../public/maage/profile/placeholder/prof-pic-1.svg"
                          alt="Charles Williams"
                          class="w-40 h-40 rounded-full mx-auto mb-4"
                        />
                        <h3
                          class="text-2xl font-poppins font-semibold mb-2 text-[#26292c]"
                        >
                          Charles Williams
                        </h3>
                        <p class="text-xl font-inter font-medium text-gray-800">
                          Chief of Testing
                        </p>
                        <p class="text-lg font-inter text-gray-500 italic mb-2">
                          Illinois Department of Public Health
                        </p>
                        <p class="mt-2 font-inter text-lg text-gray-800">
                          With extensive experience in public health testing
                          protocols, Charles Williams leads our testing
                          initiatives with precision and expertise. His work has
                          been instrumental in developing efficient and accurate
                          testing methods for various infectious diseases.
                        </p>
                      </div>
                      <div
                        class="bg-white p-6 rounded-lg shadow-[rgba(0,_0,_0,_0.24)_0px_3px_8px]"
                      >
                        <img
                          src="../public/maage/profile/placeholder/prof-pic-2.svg"
                          alt="Rebecca Smith"
                          class="w-40 h-40 rounded-full mx-auto mb-4"
                        />
                        <h3
                          class="text-2xl font-poppins font-semibold mb-2 text-[#26292c]"
                        >
                          Rebecca Smith
                        </h3>
                        <p class="text-xl font-inter font-medium text-gray-800">
                          Associate Professor of Pathology
                        </p>
                        <p
                          class="text-lg font-inter font-normal text-gray-500 italic mb-2"
                        >
                          University of Illinois Urbana-Champaign
                        </p>
                        <p class="mt-2 text-lg font-inter text-gray-800">
                          Dr. Smith brings a wealth of knowledge in pathology
                          and molecular diagnostics. Her research focuses on
                          developing innovative approaches to disease detection
                          and characterization, contributing significantly to
                          our understanding of pathogen evolution and
                          transmission.
                        </p>
                      </div>
                      <div
                        class="bg-white p-6 rounded-lg shadow-[rgba(0,_0,_0,_0.24)_0px_3px_8px]"
                      >
                        <img
                          src="../public/maage/profile/placeholder/prof-pic-3.svg"
                          alt="Thomas Brettin"
                          class="w-40 h-40 rounded-full mx-auto mb-4"
                        />
                        <h3
                          class="text-2xl font-poppins font-semibold mb-2 text-[#26292c]"
                        >
                          Thomas Brettin
                        </h3>
                        <p class="text-xl font-inter font-medium text-gray-800">
                          Strategic Program Manager
                        </p>
                        <p class="text-lg font-inter text-gray-500 italic mb-2">
                          Argonne National Laboratory
                        </p>
                        <p class="mt-2 text-lg font-inter text-gray-800">
                          Thomas Brettin excels in managing large-scale
                          scientific initiatives. His expertise in coordinating
                          multi-disciplinary teams and leveraging advanced
                          computational resources has been crucial in driving
                          our genomic surveillance projects forward.
                        </p>
                      </div>
                    </div>
                  </section>

                  <!-- Mission Statement Section -->
                  <section class="mb-12 bg-[var(--maage-primary-100)] p-6 rounded-lg">
                    <h2
                      class="text-3xl font-semibold mb-4 text-center text-[var(--maage-secondary-500)] font-poppins"
                    >
                      Our Mission
                    </h2>
                    <p
                      class="leading-relaxed text-center text-lg text-[var(--mage-dark-text)] font-inter"
                    >
                      The Midwest Alliance for Applied Genomic Epidemiology
                      (MAAGE) is a collaboration of IDPH, the University of
                      Illinois, and Argonne National Laboratory. Our mission is
                      to develop a comprehensive genomic surveillance and
                      epidemiology platform, empowering state and local public
                      health agencies to detect and monitor the spread of
                      infectious diseases with enhanced sensitivity. We are
                      committed to providing educational resources to equip the
                      public health and healthcare communities with the
                      knowledge and skills necessary to integrate this platform
                      into their daily operations.
                    </p>
                  </section>

                  <!-- Key Features Section -->
                  <section class="mb-12 pl-6 pr-6">
                    <h2
                      class="font-poppins text-3xl font-semibold mb-6 text-[var(--mage-dark-text)]"
                    >
                      Key Features
                    </h2>
                    <div class="grid md:grid-cols-4 gap-4">
                      <div
                        class="bg-white p-4 rounded-lg shadow-md flex flex-col items-center text-center"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="w-16 h-16 text-[#a6c9b8] mb-4"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke="currentColor"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z"
                          />
                        </svg>
                        <h3 class="font-poppins text-xl font-semibold mb-1">
                          MAAGE Platform
                        </h3>
                        <p class="font-inter text-lg text-gray-600">
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit
                        </p>
                      </div>
                      <div
                        class="bg-white p-4 rounded-lg shadow-md flex flex-col items-center text-center"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="w-16 h-16 text-[#a6c9b8] mb-4"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke="currentColor"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z"
                          />
                        </svg>
                        <h3 class="font-poppins text-xl font-semibold mb-1">
                          Framework
                        </h3>
                        <p class="font-inter text-lg text-gray-600">
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit
                        </p>
                      </div>
                      <div
                        class="bg-white p-4 rounded-lg shadow-md flex flex-col items-center text-center"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="w-16 h-16 text-[#a6c9b8] mb-4"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke="currentColor"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M9 12l2 2 4-4M7.835 4.697a3.42 3.42 0 001.946-.806 3.42 3.42 0 014.438 0 3.42 3.42 0 001.946.806 3.42 3.42 0 013.138 3.138 3.42 3.42 0 00.806 1.946 3.42 3.42 0 010 4.438 3.42 3.42 0 00-.806 1.946 3.42 3.42 0 01-3.138 3.138 3.42 3.42 0 00-1.946.806 3.42 3.42 0 01-4.438 0 3.42 3.42 0 00-1.946-.806 3.42 3.42 0 01-3.138-3.138 3.42 3.42 0 00-.806-1.946 3.42 3.42 0 010-4.438 3.42 3.42 0 00.806-1.946 3.42 3.42 0 013.138-3.138z"
                          />
                        </svg>
                        <h3 class="font-poppins text-xl font-semibold mb-1">
                          Workflows
                        </h3>
                        <p class="font-inter text-lg text-gray-600">
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit
                        </p>
                      </div>
                      <div
                        class="bg-white p-4 rounded-lg shadow-md flex flex-col items-center text-center"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="w-16 h-16 text-[#a6c9b8] mb-4"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke="currentColor"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M13 7l5 5m0 0l-5 5m5-5H6"
                          />
                        </svg>
                        <h3 class="font-poppins text-xl font-semibold mb-1">
                          Dashboards
                        </h3>
                        <p class="font-inter text-lg text-gray-600">
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit
                        </p>
                      </div>
                      <div
                        class="bg-white p-4 rounded-lg shadow-md flex flex-col items-center text-center"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="w-16 h-16 text-[#a6c9b8] mb-4"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke="currentColor"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M19.428 15.428a2 2 0 00-1.022-.547l-2.387-.477a6 6 0 00-3.86.517l-.318.158a6 6 0 01-3.86.517L6.05 15.21a2 2 0 00-1.806.547M8 4h8l-1 1v5.172a2 2 0 00.586 1.414l5 5c1.26 1.26.367 3.414-1.415 3.414H4.828c-1.782 0-2.674-2.154-1.414-3.414l5-5A2 2 0 009 10.172V5L8 4z"
                          />
                        </svg>
                        <h3 class="font-poppins text-xl font-semibold mb-1">
                          Databases
                        </h3>
                        <p class="font-inter text-lg text-gray-600">
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit
                        </p>
                      </div>
                      <div
                        class="bg-white p-4 rounded-lg shadow-md flex flex-col items-center text-center"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="w-16 h-16 text-[#a6c9b8] mb-4"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke="currentColor"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M4 7v10c0 2.21 3.582 4 8 4s8-1.79 8-4V7M4 7c0 2.21 3.582 4 8 4s8-1.79 8-4M4 7c0-2.21 3.582-4 8-4s8 1.79 8 4m0 5c0 2.21-3.582 4-8 4s-8-1.79-8-4"
                          />
                        </svg>
                        <h3 class="font-poppins text-xl font-semibold mb-1">
                          Demographics
                        </h3>
                        <p class="font-inter text-lg text-gray-600">
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit
                        </p>
                      </div>
                      <div
                        class="bg-white p-4 rounded-lg shadow-md flex flex-col items-center text-center"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="w-16 h-16 text-[#a6c9b8] mb-4"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke="currentColor"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M8.684 13.342C8.886 12.938 9 12.482 9 12c0-.482-.114-.938-.316-1.342m0 2.684a3 3 0 110-2.684m0 2.684l6.632 3.316m-6.632-6l6.632-3.316m0 0a3 3 0 105.367-2.684 3 3 0 00-5.367 2.684zm0 9.316a3 3 0 105.368 2.684 3 3 0 00-5.368-2.684z"
                          />
                        </svg>
                        <h3 class="font-poppins text-xl font-semibold mb-1">
                          Public Health
                        </h3>
                        <p class="font-inter text-lg text-gray-600">
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit
                        </p>
                      </div>
                      <div
                        class="bg-white p-4 rounded-lg shadow-md flex flex-col items-center text-center"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="w-16 h-16 text-[#a6c9b8] mb-4"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke="currentColor"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253"
                          />
                        </svg>
                        <h3 class="font-poppins text-xl font-semibold mb-1">
                          SSOT
                        </h3>
                        <p class="font-inter text-lg text-gray-600">
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit
                        </p>
                      </div>
                    </div>
                  </section>

                  <!-- Funding Statement Section -->
                  <section class="bg-[var(--maage-primary-100)] p-6 rounded-lg">
                    <h2
                      class="text-3xl font-poppins font-semibold mb-4 text-center text-[#547b83]"
                    >
                      Funding
                    </h2>
                    <p
                      class="text-lg font-inter font-normal text-center text-[#26292c] font-[text-gray-800 leading-relaxed"
                    >
                      This project has been funded in whole or in part by ---
                    </p>
                  </section>
                </main>
              </div>
            </div>
          </div>
        </div>
        <%- include('../footer') %>
        <style>
          body.patric {
            min-width: 830px;
          }
        </style>
      </div>
    </div>

    <%- include('../javascript') %>
  </body>
</html>
