<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Advisory Boards | MAAGE - Midwest Alliance for Applied Epidemiology</title>
        <%- include('../head') %>
    </head>
    <body class="claro patric <% if (request.isAuthenticated && request.isAuthenticated()) { %>Authenticated<% } %>"></body>
		<div id="ApplicationContainer" data-dojo-type="dijit/layout/BorderContainer" class="layoutContainer" data-dojo-props="id:'ApplicationContainer',gutters:false,liveSplitters:false">
			<%- include('../navbar') %>
            <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'" style="padding:0px;border:0px solid #ddd;background:inherit;">
                <div id="maage-page">
                    <div id="maage-container">
                        <div class="page-content">
                            <main class="container mx-auto px-4 py-8">
                                <h1 class="text-4xl font-semibold text-center mb-12 text-gray-800">Advisory Boards</h1>
                                <section class="mb-16">
                                    <h2 class="text-3xl font-semibold text-left mb-8 text-primary">Clinical Advisory Board</h2>
                                    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
                                        <div class="bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition duration-300 border-t-4 border-primary advisor-card">
                                            <div class="flex flex-col items-center text-center mb-4">
                                                <img src="/public/maage/profile/placeholder/prof-pic-36.svg" alt="" class="rounded-full mb-2 w-[100px] h-[100px]">
                                            </div>
                                            <h3 class="text-xl mb-2 font-semibold text-primary">Ashley Ceniceros</h3>
                                            <div class="w-10 h-1 bg-[#64939a]"></div>
                                            <p class="text-gray-600 mt-4">Infectious diseases, wound care, and outpatient internal medicine physician, Clinical Assistant Professor</p>
                                            <p class="text-sm text-gray-500">Carle Foundation Hospital</p>
                                        </div>
                                        <div class="bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition duration-300 border-t-4 border-primary advisor-card">
                                            <div class="flex flex-col items-center text-center mb-4">
                                                <img src="/public/maage/profile/placeholder/prof-pic-37.svg" alt="" class="rounded-full mb-2 w-[100px] h-[100px]">
                                            </div>
                                            <h3 class="text-xl mb-2 mb-2 font-semibold text-primary">Marielle Fricchione</h3>
                                            <div class="w-10 h-1 bg-[#64939a]"></div>
                                            <p class="text-gray-600 mt-4">Associate Professor of Pediatrics, Pediatric Infectious Diseases Attending</p>
                                            <p class="text-sm text-gray-500">Rush University Medical Center</p>
                                        </div>
                                        <div class="bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition duration-300 border-t-4 border-primary advisor-card">
                                            <div class="flex flex-col items-center text-center mb-4">
                                                <img src="/public/maage/profile/placeholder/prof-pic-38.svg" alt="" class="rounded-full mb-2 w-[100px] h-[100px]">
                                            </div>
                                            <h3 class="text-xl mb-2 font-semibold text-primary">Rajinder Grewal</h3>
                                            <div class="w-10 h-1 bg-[#64939a]"></div>
                                            <p class="text-gray-600 mt-4">Medical Director</p>
                                            <p class="text-sm text-gray-500">Centene Corporation</p>
                                        </div>
                                        <div class="bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition duration-300 border-t-4 border-primary advisor-card">
                                            <h3 class="text-xl mb-2 font-semibold text-primary">Mary Hayden</h3>
                                            <div class="flex flex-col items-center text-center mb-4">
                                                <img src="/public/maage/profile/placeholder/prof-pic-39.svg" alt="" class="rounded-full mb-2 w-[100px] h-[100px]">
                                            </div>
                                            <div class="w-10 h-1 bg-[#64939a]"></div>
                                            <p class="text-gray-600 mt-4">Director, Division of Infectious Diseases; Director of Clinical Microbiology Lab</p>
                                            <p class="text-sm text-gray-500">Rush University Medical Center</p>
                                        </div>
                                        <div class="bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition duration-300 border-t-4 border-primary advisor-card">
                                            <div class="flex flex-col items-center text-center mb-4">
                                                <img src="/public/maage/profile/placeholder/prof-pic-40.svg" alt="" class="rounded-full mb-2 w-[100px] h-[100px]">
                                            </div>
                                            <h3 class="text-xl mb-2 font-semibold text-primary">Hend Jadalla</h3>
                                            <div class="w-10 h-1 bg-[#64939a]"></div>
                                            <p class="text-gray-600 mt-4">Graduate Assistant at the Center for Rural Health and Social Services Development</p>
                                            <p class="text-sm text-gray-500"> Southern Illinois University School of Medicine</p>
                                        </div>
                                        <div class="bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition duration-300 border-t-4 border-primary advisor-card">
                                            <div class="flex flex-col items-center text-center mb-4">
                                                <img src="/public/maage/profile/placeholder/prof-pic-41.svg" alt="" class="rounded-full mb-2 w-[100px] h-[100px]">
                                            </div>
                                            <h3 class="text-xl mb-2 font-semibold text-primary">Harish Kempegowda</h3>
                                            <div class="w-10 h-1 bg-[#64939a]"></div>
                                            <p class="text-gray-600 mt-4">Attending Physician, Orthopedic and Spide Surgery</p>
                                            <p class="text-sm text-gray-500">Horizon Health</p>
                                        </div>
                                        <div class="bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition duration-300 border-t-4 border-primary advisor-card">
                                            <div class="flex flex-col items-center text-center mb-4">
                                                <img src="/public/maage/profile/placeholder/prof-pic-42.svg" alt="" class="rounded-full mb-2 w-[100px] h-[100px]">
                                            </div>
                                            <h3 class="text-xl mb-2 font-semibold text-primary">Larry Kociolik</h3>
                                            <div class="w-10 h-1 bg-[#64939a]"></div>
                                            <p class="text-gray-600 mt-4">                                        <br>Associate Professor of Pediatrics, Vice President, System Preparedness, Prevention, and Response, Attending Physician, Division of Infectious Diseases, Northwestern University Feinberg School of Medicine,</p>
                                            <p class="text-sm text-gray-500"></p>
                                        </div>
                                        <div class="bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition duration-300 border-t-4 border-primary advisor-card">
                                            <div class="flex flex-col items-center text-center mb-4">
                                                <img src="/public/maage/profile/placeholder/prof-pic-43.svg" alt="" class="rounded-full mb-2 w-[100px] h-[100px]">
                                            </div>
                                            <h3 class="text-xl mb-2 font-semibold text-primary">Anum Niazi</h3>
                                            <div class="w-10 h-1 bg-[#64939a]"></div>
                                            <p class="text-gray-600 mt-4">Hospitalist, National Hospital Medical Lead Advocacy Coordinator, Vituity</p>
                                            <p class="text-sm text-gray-500"></p>
                                        </div>
                                        <div class="bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition duration-300 border-t-4 border-primary advisor-card">
                                            <div class="flex flex-col items-center text-center mb-4">
                                                <img src="/public/maage/profile/placeholder/prof-pic-44.svg" alt="" class="rounded-full mb-2 w-[100px] h-[100px]">
                                            </div>
                                            <h3 class="text-xl mb-2 font-semibold text-primary">Lorna O'Young</h3>
                                            <div class="w-10 h-1 bg-[#64939a]"></div>
                                            <p class="text-gray-600 mt-4">Owner/Solo practitioner of Ob/Gyn practice; retired, Woman to Woman, P.C.</p>
                                            <p class="text-sm text-gray-500"></p>
                                        </div>
                                        <div class="bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition duration-300 border-t-4 border-primary advisor-card">
                                            <div class="flex flex-col items-center text-center mb-4">
                                                <img src="/public/maage/profile/placeholder/prof-pic-45.svg" alt="" class="rounded-full mb-2 w-[100px] h-[100px]">
                                            </div>
                                            <h3 class="text-xl mb-2 font-semibold text-primary">Egon Ozer</h3>
                                            <div class="w-10 h-1 bg-[#64939a]"></div>
                                            <p class="text-gray-600 mt-4">Assistant Professor of Medicine, Infectious Diseases and Director, Center for Pathogen Genomics and Microbial Evolution, Northwestern University Feinberg School of Medicine</p>
                                            <p class="text-sm text-gray-500"></p>
                                        </div>
                                        <div class="bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition duration-300 border-t-4 border-primary advisor-card">
                                            <div class="flex flex-col items-center text-center mb-4">
                                                <img src="/public/maage/profile/placeholder/prof-pic-46.svg" alt="" class="rounded-full mb-2 w-[100px] h-[100px]">
                                            </div>
                                            <h3 class="text-xl mb-2 font-semibold text-primary">Sarah Sansom</h3>
                                            <div class="w-10 h-1 bg-[#64939a]"></div>
                                            <p class="text-gray-600 mt-4">Assistant Professor, Division of Infectious Diseases, Rush University Medical Center</p>
                                            <p class="text-sm text-gray-500"></p>
                                        </div>
                                        <div class="bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition duration-300 border-t-4 border-primary advisor-card">
                                            <div class="flex flex-col items-center text-center mb-4">
                                                <img src="/public/maage/profile/placeholder/prof-pic-47.svg" alt="" class="rounded-full mb-2 w-[100px] h-[100px]">
                                            </div>
                                            <h3 class="text-xl mb-2 font-semibold text-primary">Jitendra Kumar Sodvadiya</h3>
                                            <div class="w-10 h-1 bg-[#64939a]"></div>
                                            <p class="text-gray-600 mt-4">Horizon Health</p>
                                            <p class="text-sm text-gray-500">Horizon Health</p>
                                        </div>
                                        <div class="bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition duration-300 border-t-4 border-primary advisor-card">
                                            <div class="flex flex-col items-center text-center mb-4">
                                                <img src="/public/maage/profile/placeholder/prof-pic-48.svg" alt="" class="rounded-full mb-2 w-[100px] h-[100px]">
                                            </div>
                                            <h3 class="text-xl mb-2 font-semibold text-primary">Jayme Walker</h3>
                                            <div class="w-10 h-1 bg-[#64939a]"></div>
                                            <p class="text-gray-600 mt-4">Hospitalist Practitioner</p>
                                            <p class="text-sm text-gray-500">Rush Copley</p>
                                        </div>
                                    </div>
                                </section>
                                <section>
                                    <h2 class="text-3xl font-semibold text-left mb-8 text-secondary">Public Health Advisory Board</h2>
                                    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
                                        <div class="bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition duration-300 border-t-4 border-secondary advisor-card">
                                            <div class="flex flex-col items-center text-center mb-4">
                                                <img src="/public/maage/profile/placeholder/prof-pic-49.svg" alt="" class="rounded-full mb-2 w-[100px] h-[100px]">
                                            </div>
                                            <h3 class="text-xl mb-2 font-semibold text-secondary">Chloe Cavida</h3>
                                            <div class="w-10 h-1 bg-[#64939a]"></div>
                                            <p class="text-gray-600 mt-4">Epidemiologist</p>
                                            <p class="text-sm text-gray-500">McHenry County Department of Health</p>
                                        </div>
                                        <div class="bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition duration-300 border-t-4 border-secondary advisor-card">
                                            <div class="flex flex-col items-center text-center mb-4">
                                                <img src="/public/maage/profile/placeholder/prof-pic-50.svg" alt="" class="rounded-full mb-2 w-[100px] h-[100px]">
                                            </div>
                                            <h3 class="text-xl mb-2 font-semibold text-secondary">Robert Davies</h3>
                                            <div class="w-10 h-1 bg-[#64939a]"></div>
                                            <p class="text-gray-600 mt-4">Director of Planning and Research</p>
                                            <p class="text-sm text-gray-500">Champaign-Urbana Public Health District</p>
                                        </div>
                                        <div class="bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition duration-300 border-t-4 border-secondary advisor-card">
                                            <div class="flex flex-col items-center text-center mb-4">
                                                <img src="/public/maage/profile/placeholder/prof-pic-51.svg" alt="" class="rounded-full mb-2 w-[100px] h-[100px]">
                                            </div>
                                            <h3 class="text-xl mb-2 font-semibold text-secondary">Prince Danso-Odei</h3>
                                            <div class="w-10 h-1 bg-[#64939a]"></div>
                                            <p class="text-gray-600 mt-4">Administrator and Health Officer</p>
                                            <p class="text-sm text-gray-500">Vermilion County Health Department</p>
                                        </div>
                                        <div class="bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition duration-300 border-t-4 border-secondary advisor-card">
                                            <div class="flex flex-col items-center text-center mb-4">
                                                <img src="/public/maage/profile/placeholder/prof-pic-52.svg" alt="" class="rounded-full mb-2 w-[100px] h-[100px]">
                                            </div>
                                            <h3 class="text-xl mb-2 font-semibold text-secondary">Lauren Eckberg</h3>
                                            <div class="w-10 h-1 bg-[#64939a]"></div>
                                            <p class="text-gray-600 mt-4"></p>
                                            <p class="text-sm text-gray-500"></p>
                                        </div>
                                        <div class="bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition duration-300 border-t-4 border-secondary advisor-card">
                                            <div class="flex flex-col items-center text-center mb-4">
                                                <img src="/public/maage/profile/placeholder/prof-pic-53.svg" alt="" class="rounded-full mb-2 w-[100px] h-[100px]">
                                            </div>
                                            <h3 class="text-xl mb-2 font-semibold text-secondary">Katy Endress</h3>
                                            <div class="w-10 h-1 bg-[#64939a]"></div>
                                            <p class="text-gray-600 mt-4"></p>
                                            <p class="text-sm text-gray-500"></p>
                                        </div>
                                        <div class="bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition duration-300 border-t-4 border-secondary advisor-card">
                                            <div class="flex flex-col items-center text-center mb-4">
                                                <img src="/public/maage/profile/placeholder/prof-pic-54.svg" alt="" class="rounded-full mb-2 w-[100px] h-[100px]">
                                            </div>
                                            <h3 class="text-xl mb-2 font-semibold text-secondary">Brenda Fedak</h3>
                                            <div class="w-10 h-1 bg-[#64939a]"></div>
                                            <p class="text-gray-600 mt-4">Organizational Communications Manager/PIO/HR</p>
                                            <p class="text-sm text-gray-500">Health Department St. Clair County</p>
                                        </div>
                                        <div class="bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition duration-300 border-t-4 border-secondary advisor-card">
                                            <div class="flex flex-col items-center text-center mb-4">
                                                <img src="/public/maage/profile/placeholder/prof-pic-55.svg" alt="" class="rounded-full mb-2 w-[100px] h-[100px]">
                                            </div>
                                            <h3 class="text-xl mb-2 font-semibold text-secondary">Sarah Franks</h3>
                                            <div class="w-10 h-1 bg-[#64939a]"></div>
                                            <p class="text-gray-600 mt-4">RN Communicable Disease Surveillance Specialist High Risk Populations</p>
                                            <p class="text-sm text-gray-500">Evanston Health and Human Services</p>
                                        </div>
                                        <div class="bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition duration-300 border-t-4 border-secondary advisor-card">
                                            <div class="flex flex-col items-center text-center mb-4">
                                                <img src="/public/maage/profile/placeholder/prof-pic-56.svg" alt="" class="rounded-full mb-2 w-[100px] h-[100px]">
                                            </div>
                                            <h3 class="text-xl mb-2 font-semibold text-secondary">Megan Hanley</h3>
                                            <div class="w-10 h-1 bg-[#64939a]"></div>
                                            <p class="text-gray-600 mt-4">Epidemiologist</p>
                                            <p class="text-sm text-gray-500">Tazewell County Health Department</p>
                                        </div>
                                        <div class="bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition duration-300 border-t-4 border-secondary advisor-card">
                                            <div class="flex flex-col items-center text-center mb-4">
                                                <img src="/public/maage/profile/placeholder/prof-pic-57.svg" alt="" class="rounded-full mb-2 w-[100px] h-[100px]">
                                            </div>
                                            <h3 class="text-xl mb-2 font-semibold text-secondary">Heidi Heerdt</h3>
                                            <div class="w-10 h-1 bg-[#64939a]"></div>
                                            <p class="text-gray-600 mt-4">Registered Nurse</p>
                                            <p class="text-sm text-gray-500">Bureau County Health Department</p>
                                        </div>
                                        <div class="bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition duration-300 border-t-4 border-secondary advisor-card">
                                            <div class="flex flex-col items-center text-center mb-4">
                                                <img src="/public/maage/profile/placeholder/prof-pic-58.svg" alt="" class="rounded-full mb-2 w-[100px] h-[100px]">
                                            </div>
                                            <h3 class="text-xl mb-2 font-semibold text-secondary">Monica Hendrickson</h3>
                                            <div class="w-10 h-1 bg-[#64939a]"></div>
                                            <p class="text-gray-600 mt-4"></p>
                                            <p class="text-sm text-gray-500"></p>
                                        </div>
                                        <div class="bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition duration-300 border-t-4 border-secondary advisor-card">
                                            <div class="flex flex-col items-center text-center mb-4">
                                                <img src="/public/maage/profile/placeholder/prof-pic-59.svg" alt="" class="rounded-full mb-2 w-[100px] h-[100px]">
                                            </div>
                                            <h3 class="text-xl mb-2 font-semibold text-secondary">Chris Hoff</h3>
                                            <div class="w-10 h-1 bg-[#64939a]"></div>
                                            <p class="text-gray-600 mt-4">Deputy Director, Public Health</p>
                                            <p class="text-sm text-gray-500">DuPage County Health Department</p>
                                        </div>
                                        <div class="bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition duration-300 border-t-4 border-secondary advisor-card">
                                            <div class="flex flex-col items-center text-center mb-4">
                                                <img src="/public/maage/profile/placeholder/prof-pic-60.svg" alt="" class="rounded-full mb-2 w-[100px] h-[100px]">
                                            </div>
                                            <h3 class="text-xl mb-2 font-semibold text-secondary">Christine Pate</h3>
                                            <div class="w-10 h-1 bg-[#64939a]"></div>
                                            <p class="text-gray-600 mt-4">Hektoen Institute of Medicine (IDPH)</p>
                                            <p class="text-sm text-gray-500">Hektoen Institute of Medicine (IDPH)</p>
                                        </div>
                                        <div class="bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition duration-300 border-t-4 border-secondary advisor-card">
                                            <div class="flex flex-col items-center text-center mb-4">
                                                <img src="/public/maage/profile/placeholder/prof-pic-47.svg" alt="" class="rounded-full mb-2 w-[100px] h-[100px]">
                                            </div>
                                            <h3 class="text-xl mb-2 font-semibold text-secondary">Tracy Terlinde</h3>
                                            <div class="w-10 h-1 bg-[#64939a]"></div>
                                            <p class="text-gray-600 mt-4">Peoria City/County Health Department</p>
                                            <p class="text-sm text-gray-500">Peoria City/County Health Department</p>
                                        </div>
                                        <div class="bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition duration-300 border-t-4 border-secondary advisor-card">
                                            <div class="flex flex-col items-center text-center mb-4">
                                                <img src="/public/maage/profile/placeholder/prof-pic-49.svg" alt="" class="rounded-full mb-2 w-[100px] h-[100px]">
                                            </div>
                                            <h3 class="text-xl mb-2 font-semibold text-secondary">Yvonne Overton</h3>
                                            <div class="w-10 h-1 bg-[#64939a]"></div>
                                            <p class="text-gray-600 mt-4">Chae Li Yong</p>
                                            <p class="text-sm text-gray-500">Illinois Department of Public Health</p>
                                        </div>
                                        <div class="bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition duration-300 border-t-4 border-secondary advisor-card">
                                            <div class="flex flex-col items-center text-center mb-4">
                                                <img src="/public/maage/profile/placeholder/prof-pic-50.svg" alt="" class="rounded-full mb-2 w-[100px] h-[100px]">
                                            </div>
                                            <h3 class="text-xl mb-2 font-semibold text-secondary">Chae Li Yong</h3>
                                            <div class="w-10 h-1 bg-[#64939a]"></div>
                                            <p class="text-gray-600 mt-4">Epidemiology</p>
                                            <p class="text-sm text-gray-500">Madison County Health Department</p>
                                        </div>
                                    </div>
                                </section>
                            </main>
                    </div>
                </div>
                <%- include('../footer-new') %>) %>) %>
                <style>
                    body.patric {
                        min-width: 830px;
                    }
                </style>
            </div>
        </div>
		<%- include('../javascript') %>
	</body>
</html>