<!DOCTYPE html>
<html lang="en">
	<head>
        <title>BV-BRC Team | BV-BRC</title>
		<%- include('../header') %>
	</head>
	<body class="claro patric <% if (request.isAuthenticated && request.isAuthenticated()) { %>Authenticated<% } %>">
		<div id="ApplicationContainer" data-dojo-type="dijit/layout/BorderContainer" class="layoutContainer" data-dojo-props="id:'ApplicationContainer',gutters:false,liveSplitters:false">
			<%- include('../maage-header') %>
            <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'" style="padding:0px;border:0px solid #ddd;background:inherit;">
                <div id="maage-page">
                    <div id="maage-container">
                        <div class="page-content">
                            <main class="container mx-auto px-4 py-8">
                                <h1 class="text-4xl font-bold text-center mb-12 text-gray-800">Our Teams</h1>
                                <section class="mb-16">
                                    <h2 class="text-3xl font-semibold text-left mb-8 text-primary">Clinical Advisory Board</h2>
                                    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
                                        <div class="bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition duration-300 border-t-4 border-primary">
                                            <h3 class="text-xl font-semibold text-primary">Ashley Ceniceros</h3>
                                            <p class="text-gray-600">Infectious diseases, wound care, and outpatient internal medicine physician, Clinical Assistant Professor</p>
                                            <p class="text-sm text-gray-500">Carle Foundation Hospital</p>
                                        </div>
                                        <div class="bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition duration-300 border-t-4 border-primary">
                                            <h3 class="text-xl font-semibold text-primary">Marielle Fricchione</h3>
                                            <p class="text-gray-600">Associate Professor of Pediatrics, Pediatric Infectious Diseases Attending</p>
                                            <p class="text-sm text-gray-500">Rush University Medical Center</p>
                                        </div>
                                        <div class="bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition duration-300 border-t-4 border-primary">
                                            <h3 class="text-xl font-semibold text-primary">Rajinder Grewal</h3>
                                            <p class="text-gray-600">Medical Director</p>
                                            <p class="text-sm text-gray-500">Centene Corporation</p>
                                        </div>
                                        <div class="bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition duration-300 border-t-4 border-primary">
                                            <h3 class="text-xl font-semibold text-primary">Mary Hayden</h3>
                                            <p class="text-gray-600">Director, Division of Infectious Diseases; Director of Clinical Microbiology Lab</p>
                                            <p class="text-sm text-gray-500">Rush University Medical Center</p>
                                        </div>
                                        <div class="bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition duration-300 border-t-4 border-primary">
                                            <h3 class="text-xl font-semibold text-primary">Hend Jadalla</h3>
                                            <p class="text-gray-600">Graduate Assistant at the Center for Rural Health and Social Services Development</p>
                                            <p class="text-sm text-gray-500"> Southern Illinois University School of Medicine</p>
                                        </div>
                                        <div class="bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition duration-300 border-t-4 border-primary">
                                            <h3 class="text-xl font-semibold text-primary">Harish Kempegowda</h3>
                                            <p class="text-gray-600">Attending Physician, Orthopedic and Spide Surgery</p>
                                            <p class="text-sm text-gray-500">Horizon Health</p>
                                        </div>
                                        <div class="bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition duration-300 border-t-4 border-primary">
                                            <h3 class="text-xl font-semibold text-primary">Larry Kociolik</h3>
                                            <p class="text-gray-600">                                        <br>Associate Professor of Pediatrics, Vice President, System Preparedness, Prevention, and Response, Attending Physician, Division of Infectious Diseases, Northwestern University Feinberg School of Medicine,</p>
                                            <p class="text-sm text-gray-500"></p>
                                        </div>
                                        <div class="bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition duration-300 border-t-4 border-primary">
                                            <h3 class="text-xl font-semibold text-primary">Anum Niazi</h3>
                                            <p class="text-gray-600">Hospitalist, National Hospital Medical Lead Advocacy Coordinator, Vituity</p>
                                            <p class="text-sm text-gray-500"></p>
                                        </div>
                                        <div class="bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition duration-300 border-t-4 border-primary">
                                            <h3 class="text-xl font-semibold text-primary">Lorna O'Young</h3>
                                            <p class="text-gray-600">Owner/Solo practitioner of Ob/Gyn practice; retired, Woman to Woman, P.C.</p>
                                            <p class="text-sm text-gray-500"></p>
                                        </div>
                                        <div class="bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition duration-300 border-t-4 border-primary">
                                            <h3 class="text-xl font-semibold text-primary">Egon Ozer</h3>
                                            <p class="text-gray-600">Assistant Professor of Medicine, Infectious Diseases and Director, Center for Pathogen Genomics and Microbial Evolution, Northwestern University Feinberg School of Medicine</p>
                                            <p class="text-sm text-gray-500"></p>
                                        </div>
                                        <div class="bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition duration-300 border-t-4 border-primary">
                                            <h3 class="text-xl font-semibold text-primary">Sarah Sansom</h3>
                                            <p class="text-gray-600">Assistant Professor, Division of Infectious Diseases, Rush University Medical Center</p>
                                            <p class="text-sm text-gray-500"></p>
                                        </div>
                                        <div class="bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition duration-300 border-t-4 border-primary">
                                            <h3 class="text-xl font-semibold text-primary">Jitendra Kumar Sodvadiya</h3>
                                            <p class="text-gray-600">Horizon Health</p>
                                            <p class="text-sm text-gray-500">Horizon Health</p>
                                        </div>
                                        <div class="bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition duration-300 border-t-4 border-primary">
                                            <h3 class="text-xl font-semibold text-primary">Jayme Walker</h3>
                                            <p class="text-gray-600">Hospitalist Practitioner</p>
                                            <p class="text-sm text-gray-500">Rush Copley</p>
                                        </div>
                                    </div>
                                </section>
                                <section>
                                    <h2 class="text-3xl font-semibold text-left mb-8 text-secondary">Public Health Advisory Board</h2>
                                    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
                                        <div class="bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition duration-300 border-t-4 border-secondary">
                                            <h3 class="text-xl font-semibold text-secondary">Chloe Cavida</h3>
                                            <p class="text-gray-600">Epidemiologist</p>
                                            <p class="text-sm text-gray-500">McHenry County Department of Health</p>
                                        </div>
                                        <div class="bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition duration-300 border-t-4 border-secondary">
                                            <h3 class="text-xl font-semibold text-secondary">Robert Davies</h3>
                                            <p class="text-gray-600">Director of Planning and Research</p>
                                            <p class="text-sm text-gray-500">Champaign-Urbana Public Health District</p>
                                        </div>
                                        <div class="bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition duration-300 border-t-4 border-secondary">
                                            <h3 class="text-xl font-semibold text-secondary">Prince Danso-Odei</h3>
                                            <p class="text-gray-600">Administrator and Health Officer</p>
                                            <p class="text-sm text-gray-500">Vermilion County Health Department</p>
                                        </div>
                                        <div class="bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition duration-300 border-t-4 border-secondary">
                                            <h3 class="text-xl font-semibold text-secondary">Lauren Eckberg</h3>
                                            <p class="text-gray-600"></p>
                                            <p class="text-sm text-gray-500"></p>
                                        </div>
                                        <div class="bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition duration-300 border-t-4 border-secondary">
                                            <h3 class="text-xl font-semibold text-secondary">Katy Endress</h3>
                                            <p class="text-gray-600"></p>
                                            <p class="text-sm text-gray-500"></p>
                                        </div>
                                        <div class="bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition duration-300 border-t-4 border-secondary">
                                            <h3 class="text-xl font-semibold text-secondary">Brenda Fedak</h3>
                                            <p class="text-gray-600">Organizational Communications Manager/PIO/HR</p>
                                            <p class="text-sm text-gray-500">Health Department St. Clair County</p>
                                        </div>
                                        <div class="bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition duration-300 border-t-4 border-secondary">
                                            <h3 class="text-xl font-semibold text-secondary">Sarah Franks</h3>
                                            <p class="text-gray-600">RN Communicable Disease Surveillance Specialist High Risk Populations</p>
                                            <p class="text-sm text-gray-500">Evanston Health and Human Services</p>
                                        </div>
                                        <div class="bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition duration-300 border-t-4 border-secondary">
                                            <h3 class="text-xl font-semibold text-secondary">Megan Hanley</h3>
                                            <p class="text-gray-600">Epidemiologist</p>
                                            <p class="text-sm text-gray-500">Tazewell County Health Department</p>
                                        </div>
                                        <div class="bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition duration-300 border-t-4 border-secondary">
                                            <h3 class="text-xl font-semibold text-secondary">Heidi Heerdt</h3>
                                            <p class="text-gray-600">Registered Nurse</p>
                                            <p class="text-sm text-gray-500">Bureau County Health Department</p>
                                        </div>
                                        <div class="bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition duration-300 border-t-4 border-secondary">
                                            <h3 class="text-xl font-semibold text-secondary">Monica Hendrickson</h3>
                                            <p class="text-gray-600"></p>
                                            <p class="text-sm text-gray-500"></p>
                                        </div>
                                        <div class="bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition duration-300 border-t-4 border-secondary">
                                            <h3 class="text-xl font-semibold text-secondary">Chris Hoff</h3>
                                            <p class="text-gray-600">Deputy Director, Public Health</p>
                                            <p class="text-sm text-gray-500">DuPage County Health Department</p>
                                        </div>
                                        <div class="bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition duration-300 border-t-4 border-secondary">
                                            <h3 class="text-xl font-semibold text-secondary">Christine Pate</h3>
                                            <p class="text-gray-600">Hektoen Institute of Medicine (IDPH)</p>
                                            <p class="text-sm text-gray-500">Hektoen Institute of Medicine (IDPH)</p>
                                        </div>
                                        <div class="bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition duration-300 border-t-4 border-secondary">
                                            <h3 class="text-xl font-semibold text-secondary">Tracy Terlinde</h3>
                                            <p class="text-gray-600">Peoria City/County Health Department</p>
                                            <p class="text-sm text-gray-500">Peoria City/County Health Department</p>
                                        </div>
                                        <div class="bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition duration-300 border-t-4 border-secondary">
                                            <h3 class="text-xl font-semibold text-secondary">Yvonne Overton</h3>
                                            <p class="text-gray-600">Chae Li Yong</p>
                                            <p class="text-sm text-gray-500">Illinois Department of Public Health</p>
                                        </div>
                                        <div class="bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition duration-300 border-t-4 border-secondary">
                                            <h3 class="text-xl font-semibold text-secondary">Chae Li Yong</h3>
                                            <p class="text-gray-600">Epidemiology</p>
                                            <p class="text-sm text-gray-500">Madison County Health Department</p>
                                        </div>
                                    </div>
                                </section>
                            </main>
                    </div>
                </div>
                <%- include('../maage-footer') %>
                <style>
                    body.patric {
                        min-width: 830px;
                    }
                </style>
            </div>
        </div>
		<%- include('../javascript') %>
	</body>
</html>