<!DOCTYPE html>
<html lang="en">
  <head>
    <title>About Us | BV-BRC</title>
    <%- include('../head') %>
  </head>
  <body
    class="claro patric <% if (request.isAuthenticated && request.isAuthenticated()) { %>Authenticated<% } %>"
  >

    <div
      id="ApplicationContainer"
      data-dojo-type="dijit/layout/BorderContainer"
      class="layoutContainer"
      data-dojo-props="id:'ApplicationContainer',gutters:false,liveSplitters:false"
    >
      <%- include('../navbar') %>
      <div
        data-dojo-type="dijit/layout/ContentPane"
        data-dojo-props="region:'center'"
        style="padding: 0px; border: 0px solid #ddd; background: inherit"
      >
      <div id="bv-brc-page bg-[#F7F7F7]">
        <div id="bv-brc-page-container bg-[#F7F7F7]">
          <div class="page-content bg-[#F7F7F7]">
            <div id="about-maage" class="min-h-screen bg-[#F7F7F7]">
              <main class="container mx-auto px-4 py-8 bg-[#F7F7F7]">
                <style>
                  body {
                    background-color: red;
                  }
                </style>
                  <h2
                    class="font-poppins text-4xl font-semibold mb-6 text-dark-text pl-6 pr-6"
                  >
                    Our Team
                  </h2>



                  <section>

                    <!-- Argonne National Laboratory -->
                    <div class="bg-white overflow-hidden shadow-lg rounded-lg mb-8">
                        <div class="px-4 py-5 sm:p-6">
                            <div class="flex flex-col items-center text-center mb-4">
                                <img src="https://hebbkx1anhila5yf.public.blob.vercel-storage.com/ANL-logo-yiAEpn8YIMTLqD61q3egWBFELHsN1u.png" alt="Argonne National Laboratory logo" class="mb-4 max-w-[400px] w-full h-auto">
                            </div>
                            <p class="text-gray-600 mb-4">Argonne National Laboratory is a multidisciplinary science and engineering research center, advancing scientific knowledge and addressing critical challenges in energy, environment, and national security. Founded in 1946, Argonne has a rich history of groundbreaking discoveries and continues to be at the forefront of scientific innovation.</p>
                            <div class="mb-6">
                                <a href="https://www.anl.gov" target="_blank" rel="noopener noreferrer" class="text-primary hover:text-primary/80 flex items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 mr-1">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 21a9.004 9.004 0 008.716-6.747M12 21a9.004 9.004 0 01-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 017.843 4.582M12 3a8.997 8.997 0 00-7.843 4.582m15.686 0A11.953 11.953 0 0112 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0121 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0112 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 013 12c0-1.605.42-3.113 1.157-4.418" />
                                    </svg>
                                    www.anl.gov
                                </a>
                            </div>
                            <h3 class="text-xl font-semibold text-gray-900 mb-4">Team Members</h3>
                            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
                                <div class="bg-white rounded-lg p-4 flex flex-col items-center text-center shadow-md transition-all duration-300 hover:shadow-lg">
                                    <img src="https://avatar.iran.liara.run/public" alt="Thomas Brettin" class="rounded-full mb-2 w-[100px] h-[100px]">
                                    <h4 class="font-semibold text-gray-900 text-[18px] font-poppins">Thomas Brettin (PI)</h4>
                                    <p class="text-[16px] text-[#76a2a7] font-poppins">Title</p>
                                    <p class="text-[16px] text-gray-500 mt-2 font-noto-sans font-light">blurb: leads science initiatives and program development....</p>
                                </div>

                                <div class="bg-white rounded-lg p-4 flex flex-col items-center text-center shadow-md transition-all duration-300 hover:shadow-lg">
                                    <img src="https://avatar.iran.liara.run/public" alt="Nicole Bowers" class="rounded-full mb-2 w-[100px] h-[100px]">
                                    <h4 class="font-semibold text-gray-900 text-[18px] font-poppins">Nicole Bowers</h4>
                                    <p class="text-[16px] text-[#76a2a7] font-poppins">Title</p>
                                    <p class="text-[16px] text-gray-500 mt-2 font-noto-sans font-light">blurb: researches science ....</p>
                                </div>

                                <div class="bg-white rounded-lg p-4 flex flex-col items-center text-center shadow-md transition-all duration-300 hover:shadow-lg">
                                    <img src="https://avatar.iran.liara.run/public" alt="Clark Cucinell" class="rounded-full mb-2 w-[100px] h-[100px]">
                                    <h4 class="font-semibold text-gray-900 text-[18px] font-poppins">Clark Cucinell</h4>
                                    <p class="text-[16px] text-[#76a2a7] font-poppins">Title</p>
                                    <p class="text-[16px] text-gray-500 mt-2 font-noto-sans font-light">blurb: researches science ....</p>
                                </div>

                                <div class="bg-white rounded-lg p-4 flex flex-col items-center text-center shadow-md transition-all duration-300 hover:shadow-lg">
                                    <img src="https://avatar.iran.liara.run/public" alt="James Davis" class="rounded-full mb-2 w-[100px] h-[100px]">
                                    <h4 class="font-semibold text-gray-900 text-[18px] font-poppins">James Davis</h4>
                                    <p class="text-[16px] text-[#76a2a7] font-poppins">Title</p>
                                    <p class="text-[16px] text-gray-500 mt-2 font-noto-sans font-light">blurb: researches science ....</p>
                                </div>

                                <div class="bg-white rounded-lg p-4 flex flex-col items-center text-center shadow-md transition-all duration-300 hover:shadow-lg">
                                    <img src="https://avatar.iran.liara.run/public" alt="Marcus Nguyen" class="rounded-full mb-2 w-[100px] h-[100px]">
                                    <h4 class="font-semibold text-gray-900 text-[18px] font-poppins">Marcus Nguyen</h4>
                                    <p class="text-[16px] text-[#76a2a7] font-poppins">Title</p>
                                    <p class="text-[16px] text-gray-500 mt-2 font-noto-sans font-light">blurb: researches science ....</p>
                                </div>

                                <div class="bg-white rounded-lg p-4 flex flex-col items-center text-center shadow-md transition-all duration-300 hover:shadow-lg">
                                    <img src="https://avatar.iran.liara.run/public" alt="Robert Olson" class="rounded-full mb-2 w-[100px] h-[100px]">
                                    <h4 class="font-semibold text-gray-900 text-[18px] font-poppins">Robert Olson</h4>
                                    <p class="text-[16px] text-[#76a2a7] font-poppins">Title</p>
                                    <p class="text-[16px] text-gray-500 mt-2 font-noto-sans font-light">blurb: researches science ....</p>
                                </div>

                                <div class="bg-white rounded-lg p-4 flex flex-col items-center text-center shadow-md transition-all duration-300 hover:shadow-lg">
                                    <img src="https://avatar.iran.liara.run/public" alt="Maulik Shukla" class="rounded-full mb-2 w-[100px] h-[100px]">
                                    <h4 class="font-semibold text-gray-900 text-[18px] font-poppins">Maulik Shukla</h4>
                                    <p class="text-[16px] text-[#76a2a7] font-poppins">Title</p>
                                    <p class="text-[16px] text-gray-500 mt-2 font-noto-sans font-light">blurb: researches science ....</p>
                                </div>

                                <div class="bg-white rounded-lg p-4 flex flex-col items-center text-center shadow-md transition-all duration-300 hover:shadow-lg">
                                    <img src="https://avatar.iran.liara.run/public" alt="Christopher Thomas" class="rounded-full mb-2 w-[100px] h-[100px]">
                                    <h4 class="font-semibold text-gray-900 text-[18px] font-poppins">Christopher Thomas</h4>
                                    <p class="text-[16px] text-[#76a2a7] font-poppins">Title</p>
                                    <p class="text-[16px] text-gray-500 mt-2 font-noto-sans font-light">blurb: researches science ....</p>
                                </div>


                            </div>
                        </div>
                    </div>

                    <!-- Illinois Department of Public Health -->
                    <div class="bg-white overflow-hidden shadow-lg rounded-lg mb-8 mt-12">
                        <div class="px-4 py-5 sm:p-6">
                            <div class="flex flex-col items-center text-center mb-4">
                                <img src="https://hebbkx1anhila5yf.public.blob.vercel-storage.com/idph-2mGxY0m1sPc3oMrMl1AXkn3z90xrE8.png" alt="Illinois Department of Public Health logo" class="mb-4 max-w-[400px] w-full h-auto">
                            </div>
                            <p class="text-gray-600 mb-4">The Illinois Department of Public Health is dedicated to improving health outcomes and ensuring public health safety across the state of Illinois. With a history dating back to 1877, IDPH has been at the forefront of protecting and promoting the health of Illinois residents for over 140 years.</p>
                            <div class="mb-6">
                                <a href="https://dph.illinois.gov" target="_blank" rel="noopener noreferrer" class="text-primary hover:text-primary/80 flex items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 mr-1">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 21a9.004 9.004 0 008.716-6.747M12 21a9.004 9.004 0 01-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 017.843 4.582M12 3a8.997 8.997 0 00-7.843 4.582m15.686 0A11.953 11.953 0 0112 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0121 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0112 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 013 12c0-1.605.42-3.113 1.157-4.418" />
                                    </svg>
                                    dph.illinois.gov
                                </a>
                            </div>
                            <h3 class="text-xl font-semibold text-gray-900 mb-4">Team Members</h3>
                            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">

                                <div class="bg-white rounded-lg p-4 flex flex-col items-center text-center shadow-md transition-all duration-300 hover:shadow-lg">
                                    <img src="https://avatar.iran.liara.run/public" alt="Charles Williams" class="rounded-full mb-2 w-[100px] h-[100px]">
                                    <h4 class="font-semibold text-gray-900 text-[18px] font-poppins">Charles Williams (PI)</h4>
                                    <p class="text-[16px] text-[#76a2a7] font-poppins">Title</p>
                                    <p class="text-[16px] text-gray-500 mt-2 font-noto-sans font-light">blurb ...</p>
                                </div>

                                <div class="bg-white rounded-lg p-4 flex flex-col items-center text-center shadow-md transition-all duration-300 hover:shadow-lg">
                                    <img src="https://avatar.iran.liara.run/public" alt="Vineet Dhiman" class="rounded-full mb-2 w-[100px] h-[100px]">
                                    <h4 class="font-semibold text-gray-900 text-[18px] font-poppins">Vineet Dhiman</h4>
                                    <p class="text-[16px] text-[#76a2a7] font-poppins">Title</p>
                                    <p class="text-[16px] text-gray-500 mt-2 font-noto-sans font-light">blurb ...</p>
                                </div>

                                <div class="bg-white rounded-lg p-4 flex flex-col items-center text-center shadow-md transition-all duration-300 hover:shadow-lg">
                                    <img src="https://avatar.iran.liara.run/public" alt="Matthew Leslie" class="rounded-full mb-2 w-[100px] h-[100px]">
                                    <h4 class="font-semibold text-gray-900 text-[18px] font-poppins">Matthew Leslie</h4>
                                    <p class="text-[16px] text-[#76a2a7] font-poppins">Title</p>
                                    <p class="text-[16px] text-gray-500 mt-2 font-noto-sans font-light">blurb ...</p>
                                </div>

                                <div class="bg-white rounded-lg p-4 flex flex-col items-center text-center shadow-md transition-all duration-300 hover:shadow-lg">
                                    <img src="https://avatar.iran.liara.run/public" alt="Lori Saathoff-Huber" class="rounded-full mb-2 w-[100px] h-[100px]">
                                    <h4 class="font-semibold text-gray-900 text-[18px] font-poppins">Lori Saathoff-Huber</h4>
                                    <p class="text-[16px] text-[#76a2a7] font-poppins">Title</p>
                                    <p class="text-[16px] text-gray-500 mt-2 font-noto-sans font-light">blurb ...</p>
                                </div>

                                <div class="bg-white rounded-lg p-4 flex flex-col items-center text-center shadow-md transition-all duration-300 hover:shadow-lg">
                                    <img src="https://avatar.iran.liara.run/public" alt="Ryan Welch" class="rounded-full mb-2 w-[100px] h-[100px]">
                                    <h4 class="font-semibold text-gray-900 text-[18px] font-poppins">Ryan Welch</h4>
                                    <p class="text-[16px] text-[#76a2a7] font-poppins">Title</p>
                                    <p class="text-[16px] text-gray-500 mt-2 font-noto-sans font-light">blurb ...</p>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- University of Illinois -->
                    <div class="bg-white overflow-hidden shadow-lg rounded-lg mb-8 mt-12">
                        <div class="px-4 py-5 sm:p-6">
                            <div class="flex flex-col items-center text-center mb-4">
                                <div class="grid grid-cols-1 md:grid-cols-3 gap-8 w-full max-w-4xl items-center justify-items-center">
                                    <div class="flex flex-col items-center justify-center h-full">
                                        <div class="flex flex-col items-center justify-center flex-1">
                                            <img src="https://hebbkx1anhila5yf.public.blob.vercel-storage.com/uiuc-KsjZIHbQ3B8LG3HdVcrFS44l9sBD6L.png" alt="University of Illinois Urbana-Champaign" class="mb-2 w-auto h-[100px] object-contain">
                                        </div>
                                    </div>
                                    <div class="flex flex-col items-center justify-center h-full">
                                        <div class="flex flex-col items-center justify-center flex-1">
                                            <img src="https://hebbkx1anhila5yf.public.blob.vercel-storage.com/uic-logo-lAtjNyK9AngFYlkBv6u2aZhimDDxlB.png" alt="University of Illinois Chicago" class="mb-2 w-auto h-[100px] object-contain">
                                        </div>
                                    </div>
                                    <div class="flex flex-col items-center justify-center h-full">
                                        <div class="flex flex-col items-center justify-center flex-1">
                                            <img src="https://hebbkx1anhila5yf.public.blob.vercel-storage.com/uis-logo-t4SWxdFPeGVRpEmedVAakinO9OKwE2.png" alt="University of Illinois Springfield" class="mb-2 w-auto h-[100px] object-contain">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="text-gray-600 mb-4">The University of Illinois System is a world leader in research and discovery, with three distinct universities and a healthcare enterprise working together to transform lives and serve society. Founded in 1867, the University of Illinois has a long-standing tradition of excellence in education, research, and public service.</p>
                            <div class="flex flex-wrap items-center gap-4 mb-6">
                                <a href="https://illinois.edu" target="_blank" rel="noopener noreferrer" class="text-primary hover:text-primary/80 flex items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 mr-1">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 21a9.004 9.004 0 008.716-6.747M12 21a9.004 9.004 0 01-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 017.843 4.582M12 3a8.997 8.997 0 00-7.843 4.582m15.686 0A11.953 11.953 0 0112 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0121 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0112 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 013 12c0-1.605.42-3.113 1.157-4.418" />
                                    </svg>
                                    illinois.edu
                                </a>
                                <a href="https://uic.edu" target="_blank" rel="noopener noreferrer" class="text-primary hover:text-primary/80 flex items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 mr-1">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 21a9.004 9.004 0 008.716-6.747M12 21a9.004 9.004 0 01-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 017.843 4.582M12 3a8.997 8.997 0 00-7.843 4.582m15.686 0A11.953 11.953 0 0112 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0121 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0112 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 013 12c0-1.605.42-3.113 1.157-4.418" />
                                    </svg>
                                    uic.edu
                                </a>
                                <a href="https://uis.edu" target="_blank" rel="noopener noreferrer" class="text-primary hover:text-primary/80 flex items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 mr-1">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 21a9.004 9.004 0 008.716-6.747M12 21a9.004 9.004 0 01-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 017.843 4.582M12 3a8.997 8.997 0 00-7.843 4.582m15.686 0A11.953 11.953 0 0112 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0121 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0112 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 013 12c0-1.605.42-3.113 1.157-4.418" />
                                    </svg>
                                    uis.edu
                                </a>
                            </div>
                            <h3 class="text-xl font-semibold text-gray-900 mb-4">Team Members</h3>
                            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">

                                <div class="bg-white rounded-lg p-4 flex flex-col items-center text-center shadow-md transition-all duration-300 hover:shadow-lg">
                                    <img src="https://avatar.iran.liara.run/public" alt="Rebecca Smith" class="rounded-full mb-2 w-[100px] h-[100px]">
                                    <h4 class="font-semibold text-gray-900 text-[18px] font-poppins">Rebecca Smith (PI)</h4>
                                    <p class="text-[16px] text-[#76a2a7] font-poppins">Title</p>
                                    <p class="text-[16px] text-gray-500 mt-2 font-noto-sans font-light">blurb ... </p>
                                </div>

                                <div class="bg-white rounded-lg p-4 flex flex-col items-center text-center shadow-md transition-all duration-300 hover:shadow-lg">
                                    <img src="https://avatar.iran.liara.run/public" alt="Corinne Campbell" class="rounded-full mb-2 w-[100px] h-[100px]">
                                    <h4 class="font-semibold text-gray-900 text-[18px] font-poppins">Corinne Campbell</h4>
                                    <p class="text-[16px] text-[#76a2a7] font-poppins">Title</p>
                                    <p class="text-[16px] text-gray-500 mt-2 font-noto-sans font-light">blurb ... </p>
                                </div>

                                <div class="bg-white rounded-lg p-4 flex flex-col items-center text-center shadow-md transition-all duration-300 hover:shadow-lg">
                                    <img src="https://avatar.iran.liara.run/public" alt="Jacinda Dariotis" class="rounded-full mb-2 w-[100px] h-[100px]">
                                    <h4 class="font-semibold text-gray-900 text-[18px] font-poppins">Jacinda Dariotis</h4>
                                    <p class="text-[16px] text-[#76a2a7] font-poppins">Title</p>
                                    <p class="text-[16px] text-gray-500 mt-2 font-noto-sans font-light">blurb ... </p>
                                </div>

                                <div class="bg-white rounded-lg p-4 flex flex-col items-center text-center shadow-md transition-all duration-300 hover:shadow-lg">
                                    <img src="https://avatar.iran.liara.run/public" alt="Dana Eldreth" class="rounded-full mb-2 w-[100px] h-[100px]">
                                    <h4 class="font-semibold text-gray-900 text-[18px] font-poppins">Dana Eldreth</h4>
                                    <p class="text-[16px] text-[#76a2a7] font-poppins">Title</p>
                                    <p class="text-[16px] text-gray-500 mt-2 font-noto-sans font-light">blurb ... </p>
                                </div>

                                <div class="bg-white rounded-lg p-4 flex flex-col items-center text-center shadow-md transition-all duration-300 hover:shadow-lg">
                                    <img src="https://avatar.iran.liara.run/public" alt="Claudia Lutz" class="rounded-full mb-2 w-[100px] h-[100px]">
                                    <h4 class="font-semibold text-gray-900 text-[18px] font-poppins">Claudia Lutz</h4>
                                    <p class="text-[16px] text-[#76a2a7] font-poppins">Title</p>
                                    <p class="text-[16px] text-gray-500 mt-2 font-noto-sans font-light">blurb ... </p>
                                </div>

                                <div class="bg-white rounded-lg p-4 flex flex-col items-center text-center shadow-md transition-all duration-300 hover:shadow-lg">
                                    <img src="https://avatar.iran.liara.run/public" alt="Iffat Noor" class="rounded-full mb-2 w-[100px] h-[100px]">
                                    <h4 class="font-semibold text-gray-900 text-[18px] font-poppins">Iffat Noor</h4>
                                    <p class="text-[16px] text-[#76a2a7] font-poppins">Title</p>
                                    <p class="text-[16px] text-gray-500 mt-2 font-noto-sans font-light">blurb ... </p>
                                </div>

                            </div>
                        </div>
                    </div>
                    </section>

                </main>
              </div>
              <%- include('../footer') %>
            </div>
          </div>
        </div>

</div>
</div>

        </div>

        <style>
          body.patric {
            min-width: 830px;
          }
        </style>
      </div>
    </div>

    <%- include('../javascript') %>
  </body>
</html>
